{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}Search results for: {{ query }}{% endblock %}
{% block breadcrumb %}<li>Search</li>{% endblock %}

{% block content -%}

<script>
function showUser(value) {

    var url = "{{ path('_admin_users_show', {'id':'value'}) }}"; 
    url = url.replace("value", value);
    return '<a href='+url+' class="btn btn-primary pull-right">Show User</a>';
}
</script>

<script>
function showClass(value) {

    var url = "{{ path('_admin_classes_show', {'id':'value'}) }}"; 
    url = url.replace("value", value);
    return '<a href='+url+' class="btn btn-primary pull-right">Show Class</a>';
}
</script>

<script>
function showPayment(value) {

    var url = "{{ path('_admin_payments_show', {'id':'value'}) }}"; 
    url = url.replace("value", value);
    return '<a href='+url+' class="btn btn-primary pull-right">Show Payment</a>';
}
</script>

<h2>Users</h2><hr>
<table data-classes="table table-hover table-condensed" data-toggle="table" data-show-toggle="true" data-search="true" data-show-columns="true" data-url="{{ path('_ajax') }}?t=searchUser&d={{query}}">
    <thead>
        <tr>
            <th data-field="id" data-sortable="true">ID</th>
            <th data-field="fname" data-sortable="true">First Name</th>
            <th data-field="lname" data-sortable="true">Last Name</th>
            <th data-field="studentid" data-sortable="true">Student ID</th>
            <th data-field="address" data-sortable="true">Address</th>
            <th data-field="add" data-formatter="showUser">Actions</th>
        </tr>
    </thead>
</table>

<h2>Classes</h2><hr>
<table data-classes="table table-hover table-condensed" data-toggle="table" data-show-toggle="true" data-search="true" data-show-columns="true" data-url="{{ path('_ajax') }}?t=searchClass&d={{query}}">
    <thead>
        <tr>
            <th data-field="id" data-sortable="true">ID</th>
            <th data-field="name" data-sortable="true">Name</th>
            <th data-field="description" data-sortable="true">Descriptions</th>
            <th data-field="departmentName" data-sortable="true">Departments</th>
            <th data-field="action" data-formatter="showClass">Actions</th>
        </tr>
    </thead>
</table>

<h2>Payments</h2><hr>
<table data-classes="table table-hover table-condensed" data-toggle="table" data-show-toggle="true" data-search="true" data-show-columns="true" data-url="{{ path('_ajax') }}?t=searchPayments&d={{query}}">
    <thead>
        <tr>
            <th data-field="id" data-sortable="true">ID</th>
            <th data-field="amount" data-sortable="true">Amount</th>
            <th data-field="receiptId" data-sortable="true">ReceiptID</th>
                <th data-field="users" data-sortable="true">Student(s)</th>
                <th data-field="action" data-formatter="showPayment">Actions</th>
            </tr>
        </thead>
    </table>
    {% endblock %}
