{% extends 'AppBundle:Base:base.html.twig'%}

{% block header %}
	Upload Document
{% endblock %}

{% block breadcrumb %}
	<li>Upload Document</li>
{% endblock %}

{% block content %}

	{# TODO: RETURN USER TO SECTION AFTER SUBMITTING UPLOAD #}
    
    <div class="col-lg-6">
            {{ form_start(form) }}
            {% form_theme form with ['bootstrap_3_layout.html.twig'] %} 
            {{ form_widget(form) }}
            {{ form_end(form) }}
    </div>
{% endblock %}