{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    List of Imports <a href="{{ path('_teacher_main') }}" class="btn btn-success btn-xs pull-right" style="margin-top: 8px;"> Back to My Courses</a>
{% endblock %}

{% block breadcrumb %}
    <li>List of Docs</li>
{% endblock %}

{% block content %}
    {% for class in classes %}
        <div class="col-md-12">
            <h3>{{ class.getName() }}</h3>
            <table class="table table-borderless table-hover">
                <thead>
                <th>Doc Name</th>
                <th>assignment</th>
                <th></th>
                    {#<th></th>#}
                </thead>
                <tbody>
                    {% for doc in class.getDocuments() %}
                    <td> {{ doc.name }} </td>
                    <td>
                    {% if  doc.assignment %}
                        {{doc.assignment.name}}
                    {% endif %}
                    </td>
                    <td>
                        {#<div>#}
                        <a href="{{ asset('uploads/' ~ doc.path) }}"> Download File </a>
                        {#</div>#}
                        <button type="button" class="btn btn-defualt btn-xs pull-right" data-toggle="modal" data-target="#delete_modal_{{ doc.id }}" style="position: relative;"> Delete File</button>
                    </td>
                    {#<td><button type="button" class="btn btn-defualt btn-xs" data-toggle="modal" data-target="#delete_modal"> Delete File</button></td>#}

                    </tbody>
                    <div class="modal fade" id="delete_modal_{{ doc.id }}" tabindex="-1" role="dialog" aria-labelledby="delete_modal_label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="delete_modal_label">Deleting {{doc.name}}:</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you would like to delete this file?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                    <a href="{{ path('_documents_delete', {'doc_id': doc.id}) }}"><button type="button" class="btn btn-danger">Delete</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
{% endblock %}
