{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
<h1>Edit or resolve this request</h1>

{% endblock  %}

{% block content %}
{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="alert alert-danger" role="alert">
	<div class="flash-notice">
		{{ flashMessage }}
	</div>
</div>
{% endfor %}

   <div class="span4">_______________________________</div>
  	{{ form_start(edit_form) }}
<div>
	<h4>Explanation</h4>
	{{ form_widget(edit_form.description, {'attr': {'class': 'form-control', 'readonly': true}}) }}
</div>
   <div class="span4">_______________________________</div>

<h4>Schedule Test</h4>
<p class="help-block">Enter a date and time for the student's placement exam.</p>
 {{ form_widget(edit_form.dateScheduled, {'attr': {'class': 'form-control'}}) }}

<h4>Enter Test Location</h4>
<p class="help-block">Enter the location in which the placement exam will occur.</p>
 {{ form_widget(edit_form.testLocation, {'attr': {'class': 'form-control'}}) }}

   <div class="span4">_______________________________</div>


{% if prereqs is defined %}
<table class="table table-hover">
	<thead>
		<h4>Prerequisites for {{entity.class.name}}</h4>
		<tr>
			<th>Prereq Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for prereq in prereqs %}
		<tr>
			<td>{{ prereq.name }}</td>
			<td><a href="{{ path('_exemption_request_grant', {'class_id': prereq.id, 'user_id': entity.user.id}) }}"class="btn btn-outline btn-xs btn-primary"><i class="fa fa-check"></i> Grant Exemption</a></td>
			<td>

				</div>

			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}

<div class="control-group">
	{{ form_label(edit_form.save) }}
	{{ form_widget(edit_form.save, {'attr': {'class': 'btn btn-success'}}) }}
	<a href="{{ path('_exemption_request_delete', {'id': entity.id}) }}" class="btn btn-danger">
	Delete
</a>
<a href="{{ path('_exemption_request_index') }}" class="btn btn-primary">
	Back to the list
</a>

</div>
	{{ form_end(edit_form) }}


{% endblock %}
