{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    All Active Exemption Requests
{% endblock %}
{% block breadcrumb %}
    <li>Active Exemption Requests</li>
{% endblock %}

{% block content %}

<table class="table table-hover" id="user_approve_table" data-click-to-select="true" data-search="true" data-select-item-name="table1" data-pagination="true">
    <thead>
        <tr>
            <th>Student</th>
            <th>Enrollment Target</th>
            <th>Exam Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td>{{ entity.user.firstName }} {{ entity.user.lastName }}</td>
            <td>{{ entity.class.name }}</td>
            <td>{% if entity.dateScheduled %}{{ entity.dateScheduled|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <div class="btn-group pull-left">
                    <a href="{{ path('_exemption_request_show', { 'id': entity.id }) }}" class="btn btn-outline btn-xs btn-primary"><i class="fa fa-eye"></i> show</a>
                    <a href="{{ path('_exemption_request_edit', { 'id': entity.id }) }}"class="btn btn-outline btn-xs btn-primary"><i class="fa fa-pencil-square-o"></i> edit</a>
                </div>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
