{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    Request Exemption from Prerequisite for {{className}}
{% endblock %}
{% block breadcrumb %}
    <li>New Exemption Request</li>
{% endblock %}

{% block content%}
    <p class="help-block">
        Please describe why you think you are exempt from the prerequsite to this course.
        If your reason is that you took an equivalent course at another institution, please list it here.
        A Gobind Sarvar Administrator will contact you shortly to confirm, reject, or schedule a test for
        your exemption request.
    </p>


	<!-- Display Form -->

	{{ form_start(form) }}
    {% form_theme form with ['bootstrap_3_layout.html.twig'] %} 

	<div class="form-group">
		{{ form_widget(form.description) }}
	</div>
	<div class="control-group">
		{{ form_label(form.save) }}
		{{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}

	</div>
    {{ form_row(form._token) }}
	{{ form_end(form, {'render_rest': false}) }}

{% endblock %}
