{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    Prereq Exemption Request
{% endblock %}
{% block breadcrumb %}
    <li>Active Exemption Requests</li>
    <li>Prereq Exemption Request</li>
{% endblock %}

{% block content%}
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                    <!-- table begins -->
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td><strong>Name</strong></td>
                                <td>{{ entity.user.firstName }} {{ entity.user.lastName }}</td>
                            </tr>
                            <tr>
                                <td><strong>Enrollment Target</strong></td>
                                <td>{{ entity.class.name }}</td>
                            </tr>
                            <tr>
                                <td><strong>Explanation</strong></td>
                                <td>{{ entity.description }}</td>
                            </tr>
                            <tr>
                            <td><strong>Exam Date</strong></td>
                            <td>{% if entity.dateScheduled %}{{ entity.dateScheduled}}{% endif %}</td>
                            </tr>
                            <tr>
                            <td><strong>Exam Location</strong></td>
                            <td>{% if entity.testLocation %}{{ entity.testLocation}}{% endif %}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /Table ends -->

            </div>
        </div>
    </div>
        <a href="{{ path('_exemption_request_edit', { 'id': entity.id }) }}" class="btn btn-primary">
            Edit, resolve, or schedule exam
        </a>
{% endblock %}
