{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
Add New Payment
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ path('_admin_payments') }}">Financial Summary</a></li>
<li>Add New Payment</li>
{% endblock %}

{% block content %}

<div class="col-lg-6">
    {{ form_start(form) }}
    
    <table class="table borderless">
        <tr>
            <td>
                <div>
                    {{ form_label(form.amount) }}
                    {{ form_widget(form.amount, {'attr': {'class': 'form-control'}}) }}
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                {{ form_label(form.paymentType) }}
                {{ form_widget(form.paymentType, {'attr': {'class': 'form-control'}}) }}
            </td>
            

        </tr>

        <tr>
            <td>
                <div>
                    {{ form_label(form.receiptId) }}
                    {{ form_widget(form.receiptId, {'attr': {'class': 'form-control'}}) }}
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div>
                    {{ form_label(form.note) }}
                    {{ form_widget(form.note, {'attr': {'class': 'form-control', 'rows': '6'}}) }}
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <div class="control-group">
                    <div class="controls">
                        <center>
                            <div>
                                {{ form_label(form.save) }}
                                {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
                            </div>
                        </center>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    {{ form_end(form) }}
</div>

{% endblock %}