{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
{% if isEdit %}
Edit User
{% if permissions['Admin\\Users'] b-and 8  %}
<button type="button" class="btn btn-danger btn-xs pull-right" data-toggle="modal" data-target="#delete_user_modal"><i class="fa fa-minus"></i>Delete User</button>
{% endif %}
{% else %}
Add New User
{% endif %}
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ path('_admin_users') }}">Users</a></li>
{% if isEdit %}
<li>Edit User #{{ user.id }}</li>
{% else %}
<li>Add New User</li>
{% endif %}
{% endblock %}

{% block content %}
<div class="col-lg-12">
    <!-- Delete Modal Start -->
    {% if isEdit == true %}
    <div class="modal fade" id="delete_user_modal" tabindex="-1" role="dialog" aria-labelledby="delete_modal_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title" id="delete_user_modal_label"><strong>Delete {{user.firstname}} {{user.lastname}}?</strong></p>
                    
                </div>
                <div class="modal-body">
                    <p>Are you sure you would like to delete this user?</p>
                </div>
                <div class="modal-footer">
                    <a href="{{ path('_admin_users_delete', {'id': user.id}) }}"><button type="button" class="btn btn-danger">Delete</button></a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-lg-8">
        <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('#user_roles').change(reloadCustomAttributes);
            reloadCustomAttributes(0);
        });
        
        function reloadCustomAttributes(e)
        {
            var isStudent = 0 != $('#user_roles option:selected[value=2]').length;
            var isUnconfirmed = 0 != $('#user_roles option:selected[value=1]').length;

            if (isStudent || isUnconfirmed)
                $('#preReqBox').show();
            else
                $('#preReqBox').hide();

            jQuery('#customAttrs-list').html("Loading...");

            var values = $('#user_roles').val();
            var customAttrs = jQuery('#customAttrs-list');
            jQuery.getJSON("{{ path('_ajax') }}?t=getRoleAttr{% if user is defined %}&i={{user.id}}{% endif %}&d=" + values, function (jsonData) {
                var markup;
                
                markup = [];
                hasOne = false;
                jQuery.each(jsonData, function (i, j) {
                    hasOne = true;
                    var data = j.split("~|~");
                    var newAttr = customAttrs.attr('data-prototype');
                    newAttr = newAttr.replace(/__name__/g, i);
                    newAttr = newAttr.replace(/__value__/g, data[1]);
                    markup.push("<li>");
                    markup.push(data[0]);
                    markup.push(newAttr);
                    markup.push("</li>");
                });
                
                if (hasOne)
                    jQuery('#customAttrs-list').html(markup.join(""));
                else
                    jQuery('#customAttrs-list').html("No custom attributes for selected roles.");
            });
}
</script>

{{ form_start(form) }}
{% form_theme form with ['AppBundle:Form:bootstrap_main.html.twig'] %}
{% if not form.vars.valid %}
<div class="alert alert-danger" role="alert">
    {{ form_errors(form.password) }}
</div>
{% endif %}


<table class="table borderless">
    <tr>
        <td style="border-top:0; width:50%;">
            <div>
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'placeholder': '(optional)'} }) }}
            </div>
        </td>
        <td style="border-top:0; width:50%;">
            <div>
                {{ form_label(form.file) }}
                {{ form_widget(form.file) }}
            </div>
        </td>
        <td style="border-top:0;"></td>
    </tr>
    <tr>
        <td>
            <div>
                {{ form_label(form.password.first) }}
                {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
            </div>
        </div>
    </td>
    <td>
        <div>
            {{ form_label(form.password.second) }}
            {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
        </div>
    </td>
</tr>
{% block tr_roles %}
<tr>
    <td>
        <div>
            {{ form_label(form.roles) }}
            {{ form_widget(form.roles, {'attr': {'size': 5}}) }}
        </div>
    </td>
    <td>
        <div>
            {{ form_label(form.campus) }}
            {{ form_widget(form.campus, {'attr': {'class': 'form-control'}}) }}
        </div>
    </td>
</tr>
{% endblock %}
<tr>
    <td>
        <div>
            {{ form_label(form.firstName) }}
            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
        </div>
    </td>
    <td>
       <div>
        {{ form_label(form.middleName) }}
        {{ form_widget(form.middleName, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
    </div>
</td>
</tr>

<tr>
    <td>
        <div>
            {{ form_label(form.lastName) }}
            {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
        </div>
    </td>
</tr>
<tr>
    <td>
        <div>
            {{ form_label(form.birthDate) }}
            {{ form_widget(form.birthDate) }}
        </div>
    </td>
    <td>
        <div>
            {{ form_label(form.gender) }}
            {{ form_widget(form.gender) }}
        </div>
    </td>
</tr>
<tr>
    <td>
        <div>
            {{ form_label(form.homeAddress) }}
            {{ form_widget(form.homeAddress, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
        </div>
    </td>
    <td>
        <div>
            {{ form_label(form.phone) }}
            {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
        </div>
    </td>
</tr>
<tr>
    <td>
        <div>
            {{ form_label(form.city) }}
            {{ form_widget(form.city, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
        </div>
    </td>
    <td>
        <div>
            {{ form_label(form.postalCode) }}
            {{ form_widget(form.postalCode, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
        </div>
    </td>
</tr>
<tr>
    <td>
        <div>
            {{ form_label(form.parentName) }}
            {{ form_widget(form.parentName, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
        </div>
    </td>
    <td>
        <div>
            {{ form_label(form.parentEmail) }}
            {{ form_widget(form.parentEmail, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
        </div>
    </td>
</tr>
<tr>
    <td>
        <div>
            {{ form_label(form.parentNumber) }}
            {{ form_widget(form.parentNumber, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
        </div>
    </td>
</tr>
<tr>
    <td>
        <div>
            {{ form_label(form.emergencyName) }}
            {{ form_widget(form.emergencyName, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
        </div>
    </td>
    <td>
        <div>
            {{ form_label(form.emergencyContact) }}
            {{ form_widget(form.emergencyContact, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
        </div>
    </td>
</tr>

<tr>
    <td>
        <div>
            {{ form_label(form.allergies) }}
            {{ form_widget(form.allergies, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
        </div>
    </td>
    <td>
        <div>
            {{ form_label(form.tshirtSize) }}
            {{ form_widget(form.tshirtSize, {'attr': {'class': 'form-control'}}) }}
        </div>
    </td>
</tr>

<tr>
    <td>
        <label class="control-label required">Custom attributes</label>
        {# {{ form_label(form.customAttrs) }} #}
        <ul id="customAttrs-list" data-prototype="{{ form_widget(form.customAttrs.vars.prototype)|e }}">

        </ul>
    </td>

    <td>
        <div id="preReqBox">       
            {{ form_label(form.prereqs) }}
            {{ form_widget(form.prereqs) }}
        </div>
    </td>
</tr>


<!-- end table -->

<!-- Apply Now button -->
</table>


<div class="control-group">
    <div class="controls">
        <div>
            {{ form_label(form.apply) }}
            {{ form_widget(form.apply, {'attr': {'class': 'btn btn-success'}}) }}
            <a href="{{ path('_admin_users') }}" class="btn btn-danger pull-right"><i class="fa fa-times"></i> Cancel</a>
        </div>
    </div>                                           
</div>
{{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
</div>
{% endblock %}