{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
{{ user.firstName }} {{ user.lastName }}
</br>
</br>
{% if permissions['Admin\\Payments'] b-and 2  %}
<a href="{{ path('_admin_payments_new', {'user_id': user.id}) }}" class="btn btn-primary btn-med">Add Payment</a>
{% endif %}
{% if permissions['Admin\\Users'] b-and 4  %}
<a href="{{ path('_admin_users_edit', {'id': user.id}) }}" class="btn btn-primary btn-med">Edit Information</a>
{% endif %}

{% if permissions['Admin\\Enrollment'] b-and 16  %}
{% if user.campus.enrollmentTerm is not null %}
<a href="{{ path('_admin_enrollment_departments_index', {'user_id': user.id}) }}" class="btn btn-primary btn-med">Enroll Courses</a>
{% else %}
<a href="#" class="btn btn-primary btn-med" disabled="disabled">Enroll Courses</a>
{% endif %}
{% endif %}
<button type="button" class="btn btn-default btn-med" data-toggle="modal" data-target="#payments_modal">View Payments</button>
{% if permissions['Admin\\Users'] b-and 8  %}
<button type="button" class="btn btn-danger btn-med" data-toggle="modal" data-target="#delete_user_modal"><i class="fa fa-minus"></i>Delete User</button>
{% endif %}

{% endblock %}



{% block breadcrumb %}
<li><a href="{{ path('_admin_users') }}">Users</a></li>
<li>User Card #{{ user.id }}</li>
{% endblock %}

{% block content %}
<!-- MODAL PAYMENT HISTORY -->
<div class="modal fade" id="payments_modal" tabindex="-1" role="dialog" aria-labelledby="delete_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="modal-title" id="payment_modal_label"><strong>Payment History for {{user.firstname}} {{user.lastname}}</strong></p>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Receipt ID</th>
                            <th>Date</th>
                            <th>Notes</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in user.getPayments() %}
                        <tr>
                            <td>{{ payment.receiptId }}</td>
                            <td>{{ payment.created | date("m/d/Y") }}</td>
                            <td>{{ payment.note }}</td>
                            <td>{{ payment.amount }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- End Payment Modal -->
<!-- Delete Modal Start -->
<div class="modal fade" id="delete_user_modal" tabindex="-1" role="dialog" aria-labelledby="delete_modal_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="modal-title" id="delete_user_modal_label"><strong>Delete {{user.firstname}} {{user.lastname}}?</strong></p>
            </div>
            <div class="modal-body">
                <p>Are you sure you would like to delete this user?</p>
            </div>
            <div class="modal-footer">
                <a href="{{ path('_admin_users_delete', {'id': user.id}) }}"><button type="button" class="btn btn-danger">Delete</button></a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
<!-- Delete Modal End -->
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>User Card</strong>
        </div>

        <div class="panel-body">
            <!-- table begins -->
            <div class="table-responsive">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td><strong>ID:</strong></td>
                            <td>{{ user.id }}</td>
                        </tr>
                        <tr>
                            <td><strong>Name</strong></td>
                            <td>{{ user.firstName }} {{ user.middleName }} {{ user.lastName }}</td>
                        </tr>
                        <tr>
                            <td><strong>E-mail</strong></td>
                            <td>{% if user.email == null %}
                                (Not provided)
                                {% else %}
                                {{ user.email }}
                                {% endif %}
                                </td>
                        </tr>
                        <tr>
                            <td><strong>Phone</strong></td>
                            <td>{{ user.phone }}</td>
                        </tr>
                        <tr>
                            <td><strong>Gender</strong></td>
                            <td>
                                {% if user.gender == 1 %}
                                Male
                                {% else %}
                                Female
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Date of birth</strong></td>
                            <td>{{ user.birthDate|date('Y-m-d') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Address</strong></td>
                            <td>{{ user.homeAddress }}</td>
                        </tr>
                        <tr>
                            <td><strong>City</strong></td>
                            <td>{{ user.city }}</td>
                        </tr>
                        <tr>
                            <td><strong>Postal Code</strong></td>
                            <td>{{ user.postalCode }}</td>
                        </tr>
                         <tr>
                            <td><strong>Parent Name</strong></td>
                            <td>{{ user.parentName }}</td>
                        </tr>
                        <tr>
                            <td><strong>Parent Phone</strong></td>
                            <td>{{ user.parentNumber }}</td>
                        </tr>
                        <tr>
                            <td><strong>Parent Email</strong></td>
                            <td>{{ user.parentEmail }}</td>
                        </tr>
                        <tr>
                            <td><strong>Emergency Contact</strong></td>
                            <td>{{ user.emergencyName }} {{ user.emergencyContact }}</td>
                        </tr>
                        <tr>
                            <td><strong>Campus</strong></td>
                            <td>
                                {{ user.getCampus() }}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Permissions</strong></td>
                            <td>
                                {% for role in user.getRoles() %}
                                {{ role.name }}
                                {% if loop.last == false %}
                                +
                                {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Prerequisites</strong></td>
                            <td>
                                {% if user.getPrereqs()|length < 1  %}
                                None
                                {% else %}
                                {% for prereq in user.getPrereqs() %}
                                {{ prereq.name }}
                                {% if loop.last == false %}
                                +
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </td>
                        </tr>


                        {% if user.getCustomAttributes()|length > 0  %}
                        {% for customAttribute in user.getCustomAttributes() %}
                        <tr>
                            <th>
                                {{ customAttribute.getCustomAttribute().description }}
                            </th>
                            <td>
                                {{ customAttribute.getValue() }}
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <!-- /Table ends -->
        </div>
    </div>
</div>

<div class="col-lg-5">
    {% if user.path is defined %}
    <img src="{{ asset(user.getWebPath) }}" class="img-rounded" style="width: 100%; height:auto;" onerror="this.src='/studentphotos/not_found.jpg';">
    {% endif %}
</div>

</div>
<br>
<div class="row">
{% if user.getEnrolls()|length > 0  %}
<div class="col-lg-11">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Sections Enrolled</strong>
        </div>

        <div class="panel-body">
            <!-- table begins -->
            <div class="table-responsive">
                <table class="table table-hover">

                    <th>Course</th>
                    <th>Section #</th>
                    <th>Teacher</th>
                    <th>Location:</th>
                    <th>Time</th>
                    <th>Days</th>
                    <th>Actions</th>

                    {% for enroll in user.getEnrolls() %}
                    <tr>
                        <td>{{ enroll.class.name }}</td>
                        <td>{{ enroll.Id }}</td>
                        <td>{{ enroll.teacher.firstName }} {{ enroll.teacher.lastName}}</td>
                        <td>{{enroll.location}}</td>
                        <td>{{enroll.start|date('H:i')}} ~ {{enroll.end|date('H:i')}}</td>

                        <td>
                            {% if enroll.daysOfWeek != null %}
                            {% if enroll.daysOfWeek b-and 1  %}
                            Mon
                            {% endif %}

                            {% if enroll.daysOfWeek b-and 2  %}
                            Tues
                            {% endif %}

                            {% if enroll.daysOfWeek b-and 4  %}
                            Wed
                            {% endif %}

                            {% if enroll.daysOfWeek b-and 8  %}
                            Thurs
                            {% endif %}

                            {% if enroll.daysOfWeek b-and 16  %}
                            Fri
                            {% endif %}

                            {% if enroll.daysOfWeek b-and 32  %}
                            Sat
                            {% endif %}

                            {% if enroll.daysOfWeek b-and 64  %}
                            Sun
                            {% endif %}

                            {% endif %}
                        </td>
                        
                        <td>  
                            <div class="btn-group pull-right">
                                {% if permissions['Admin\\CampusTerms'] b-and 1  %}
                                    <a href="{{ path('_admin_sections_show', {'dept_id': enroll.class.department.id, 'class_id': enroll.class.id, 'id': enroll.id}) }}" class="btn btn-outline btn-xs btn-primary"><i class="fa fa-eye"></i> Show Section</a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>

                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Sections Enrolled</strong>
        </div>
        <h4 align="center">
            This user is not currently enrolled in any sections
        </h4>
    </div>
</div>

{% endif %}

</div>

{% endblock %}








