{% extends 'AppBundle:Base:base.html.twig' %}

{# Page title #}
{% block header %}
<i class="fa fa-users" style="color: #000;"></i> Users

{% if permissions['Admin\\Users'] b-and 2  %}
    {# Add user button #}
    <a href="{{ path('_admin_users_new') }}" class="btn btn-med btn-primary">+ Add New User</a>
    {# Pending users button #}
    {% if users_needApproval|length == 0 %}
        <button class="btn btn-med btn-primary disabled">No Pending Registraitons</button>
        {% else %}
        <a class="btn btn-med btn-danger" data-toggle="modal" data-target="#project-1">Pending Registrations: {{ users_needApproval|length }}</a>
    {% endif %}
{% endif %}
{% endblock %}
{# End page title #}

{# Breadcrumb #}
{% block breadcrumb %}
<li>Users</li>
{% endblock %}


{# Content #}
{% block content %}

<script>
$(document).ready(function() {
    $('#usertable').dataTable( {
        "pagingType": "full_numbers",
        "scrollX": "false",
    } );
} );
</script>

<!-- Modal Content Begins Here -->

<div class="modal fade" id="project-1" tabindex="-1" role="dialog" aria-labelledby="project-1-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="project-1-label">Pending Registraitons</h4>
            </div>

            <!-- /End Modal Header -->

            <!-- Modal Body -->

            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="table-responsive">
                        <!-- Table begin -->
                        <table class="table table-hover" id="user_approve_table" data-click-to-select="true" data-search="true" data-select-item-name="table1" data-pagination="true">
                            <thead>
                                <tr>
                                    <th data-field="user">User ID</th>
                                    <th data-field="fname">First Name</th>
                                    <th data-field="lname">Last Name</th>
                                    <th data-field="campus">Campus</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <!-- Table body -->
                            <tbody>
                                {% for user in users_needApproval %}
                                <tr>
                                    <td>{{user.id}}</td>
                                    <td>{{user.firstName}}</td>
                                    <td>{{user.lastName}}</td>
                                    <td>
                                        {{ user.getCampus() }}
                                    </td>  
                                    <td>
                                        {% if permissions['Admin\\Users'] b-and 4  %}
                                        <div class="btn-group pull-right">
                                            <a href="{{ path('_admin_users_edit', {'id': user.id}) }}" class="btn btn-outline btn-med btn-primary"><i class="fa fa-eye"></i> Check</a>
                                        </div>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <!-- /End table body -->

                        </table>
                        <!-- /End table -->
                    </div>
                </div>
            </div>

            <!-- /End Modal Body -->

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- /Modal Content Ends Here -->


<!-- Page Content Begins Here -->
    <div class="col-lg-12">
        <div class="table-responsive">

            <table id="usertable" class="table table-hover">     
                <thead>
                    <tr>
                        <th data-field="user" data-sortable="true">User ID</th>
                        <th data-field="fname" data-sortable="true">First Name</th>
                        <th data-field="lname" data-sortable="true">Last Name</th>
                        <th data-field="pnumber">Student/Parent Phone</th>
                        <th data-field="permission" data-sortable="true">Permissions</th>
                        <th data-field="campus" data-sortable="true">Campus</th>
                        <th></th>
                    </tr>
                </thead>

                <!-- Table body -->
                <tbody>
                    {% for user in users%}
                    {# Clickable user rows if permission level is enough #}
                    {% if permissions['Admin\\Users'] b-and 1  %}
                    <tr onclick="window.document.location='{{ path('_admin_users_show', {'id': user.id}) }}';" class="click_rows">
                    {% else %}
                    <tr>
                    {% endif %}
                        <td>{{user.id}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                         <td>{{user.phone}}</br>{{user.parentNumber}}</td>
                        <td>
                            {% for role in user.getRoles() %}
                                {{ role.name }}
                                {% if loop.last == false %}
                                    +
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {{ user.getCampus() }}
                        </td>  
                        <td>
                            <div class="btn-group pull-right">
                                {# {% if permissions['Admin\\Users'] b-and 1  %}
                                    <a href="{{ path('_admin_users_show', {'id': user.id}) }}" class="btn btn-outline btn-med btn-success"><i class="fa fa-eye"></i> Details</a>
                                {% endif %} #}
                                {% if permissions['Admin\\Users'] b-and 4  %}
                                    <a href="{{ path('_admin_users_edit', {'id': user.id}) }}" class="btn btn-outline btn-med btn-danger"><i class="fa fa-edit"></i> Edit</a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>    
        </div>
    </div>


    <!-- /Page Content Ends Here -->

    {% endblock %}







