{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    Edit Announcement #{{ entity.id }}
{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('_admin_announcements') }}">Announcements</a></li>
    <li>Edit Annoucement</li>
{% endblock %}

{% block content -%}
    {{ form_start(edit_form) }}
    {% form_theme edit_form with ['bootstrap_3_layout.html.twig'] %} 
    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}

    {% if permissions['Admin\\Announcements'] b-and 8  %}
        {{ form_start(delete_form) }}
        {% form_theme delete_form with ['bootstrap_3_layout.html.twig'] %} 
        {{ form_widget(delete_form) }}
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
