{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    Announcements
    {% if permissions['Admin\\Announcements'] b-and 2  %}
    <a href="{{ path('_admin_announcements_new') }}" class="btn btn-primary pull-right">
        Create a new announcement
    </a>
    {% endif %}

    {% if permissions['Admin\\Mail'] b-and 2  %}
    <a href="{{ path('_admin_mail_new') }}" class="btn btn-primary pull-right">
        Send a New Email
    </a>
    {% endif %}
{% endblock %}
{% block breadcrumb %}
    <li>Announcements</li>
{% endblock %}

{% block content -%}
    {% for entity in entities %}
    <div class="panel {% if entity.pinned %}panel-primary{% else %}panel-default{% endif %}">
        <div class="panel-heading">
            <h3 class="panel-title">
                {% if permissions['Admin\\Announcements'] b-and 1  %}
                <a href="{{ path('_admin_announcements_show', { 'id': entity.id }) }}">{{ entity.createdBy }}</a>
                {% endif %}
                {% if permissions['Admin\\Announcements'] b-and 4  %}
                <a href="{{ path('_admin_announcements_edit', { 'id': entity.id }) }}" class="btn btn-success btn-xs pull-right">Edit</a>
                {% endif %}
            </h3>
        </div>
        <div class="panel-body">
            {{ entity.message }}
        </div>
        <div class="panel-footer">{{ entity.created }}</div>
    </div>
    {% endfor %}
{% endblock %}
