{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    New Announcement
{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('_admin_announcements') }}">Announcements</a></li>
    <li>New Announcement</li>
{% endblock %}

{% block content -%}
    {{ form_start(form) }}
    {% form_theme form with ['bootstrap_3_layout.html.twig'] %} 
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
