{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    Announcement #{{ entity.id }}
    <a href="{{ path('_admin_announcements_edit', { 'id': entity.id }) }}">
        <button class="btn btn-primary pull-right" style="margin:0 15px 20px 0;">Edit Announcement</button>
    </a>
{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('_admin_announcements') }}">Announcements</a></li>
    <li>View Announcement #{{ entity.id }}</li>
{% endblock %}

{% block content -%}
    <table class="table">
        <tbody>
            <tr>
                <th>Message</th>
                <td>{{ entity.message }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created }}</td>
            </tr>
            <tr>
                <th>Pinned</th>
                <td>
                    {% if entity.pinned %}
                        Pinned
                    {% else %}
                        Not Pinned
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Campuses</th>
                <td>
                    <ul>
                        {% for campus in  entity.campuses %}
                            <li>{{ campus.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    <ul>
                        {% for role in  entity.roles %}
                            <li>{{ role.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Created By</th>
                <td>{{ entity.createdBy }}</td>
            </tr>
        </tbody>
    </table>
    
    {{ form_start(delete_form) }}
    {% form_theme delete_form with ['bootstrap_3_layout.html.twig'] %} 
    {{ form_widget(delete_form) }}
    {{ form_end(delete_form) }}
{% endblock %}
