{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    Edit Section
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.teacher) }}
        {{ form_widget(form.teacher, {'attr': {'class': 'form-control'}}) }}
        <br />
        {{ form_label(form.teachingAssistant) }}
        {{ form_widget(form.teachingAssistant, {'attr': {'class': 'form-control'}}) }}
        <br />
        {{ form_label(form.maxStudents) }}
        {{ form_widget(form.maxStudents, {'attr': {'class': 'form-control'}}) }}
        <br />
        {{ form_label(form.location) }}
        {{ form_widget(form.location, {'attr': {'class': 'form-control'}}) }}
        <br />
        {{ form_label(form.start) }}
        {{ form_widget(form.start) }}
        <br />
        {{ form_label(form.end) }}
        {{ form_widget(form.end) }}
        <br />
        <h4><b>Days of Week</b></h4>
        {% if section.daysOfWeek == null %}
            {% set daysOfWeek = 0 %}
        {% else %}
            {% set daysOfWeek = section.daysOfWeek %}
        {% endif %}
        
        {% if daysOfWeek b-and 1  %}
                <input type="checkbox" name="Mon" checked> Mon 
            {% else %}
                <input type="checkbox" name="Mon" > Mon 
            {% endif %}

            {% if daysOfWeek b-and 2  %}
                <input type="checkbox" name="Tues" checked> Tues 
            {% else %}
                <input type="checkbox" name="Tues" > Tues 
            {% endif %}

            {% if daysOfWeek b-and 4  %}
                <input type="checkbox" name="Wed" checked> Wed 
            {% else %}
                <input type="checkbox" name="Wed" > Wed 
            {% endif %}

            {% if daysOfWeek b-and 8  %}
                <input type="checkbox" name="Thurs" checked> Thurs 
            {% else %}
                <input type="checkbox" name="Thurs" > Thurs 
            {% endif %}

            {% if daysOfWeek b-and 16  %}
                <input type="checkbox" name="Fri" checked> Fri 
            {% else %}
                <input type="checkbox" name="Fri" > Fri 
            {% endif %}

            {% if daysOfWeek b-and 32  %}
                <input type="checkbox" name="Sat" checked> Sat 
            {% else %}
                <input type="checkbox" name="Sat" > Sat 
            {% endif %}

            {% if daysOfWeek b-and 64  %}
                <input type="checkbox" name="Sun" checked> Sun 
            {% else %}
                <input type="checkbox" name="Sun" > Sun 
            {% endif %}

    </div>
    <div class="control-group">
        <input type="submit" class="btn btn-primary" value="Save Changes">
    </div>
    {{ form_end(form) }}




{% endblock %}