{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    Sections
    <a href="{{ path('_admin_sections_new', {'dept_id': department.id, 'class_id': class.id}) }}" class="btn btn-primary btn-xs pull-right" style="margin:13px;">+ Create New Section</a>
{% endblock %}
{% block breadcrumb %}
    <li>Schools</li>
{% endblock %}

{% block content %}
    {% if sections is defined %}
        {% for section in sections %}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail tile tile-medium tile-teal">
                    <a href="{{ path('_admin_sections_show', {'dept_id': department.id, 'class_id': class.id, 'id': section.id}) }}" >
                        <h3>{{class.name}}: Section {{section.id}}<h3>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}