{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    {{class.name}}: Section {{section.id}}
    {% if permissions['Admin\\Sections'] b-and 4  %}
        <a href="{{ path('_admin_sections_edit', {'dept_id': section.class.department.id, 'class_id': section.class.id, 'id': section.id}) }}"> 
            <button type="button" class="btn btn-default pull-right">
                Edit Section
            </button>
        </a>
    {% endif %}
    

{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('_admin_campuses') }}">Campuses</a></li>
    <li><a href="{{ path('_admin_campuses_show', {id: section.term.campus.id}) }}">{{ section.term.campus.name }}</a></li>
    <li><a href="{{ path('_admin_terms_show', {'id': section.term.id}) }}">Term {{ section.term.id }}</a></li>
    <li>Section {{ section.id }}</li>
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="row">
            <h3> Class Time : {{section.start|date('H:i')}} ~ {{section.end|date('H:i')}}</h3>
            {% if section.daysOfWeek == null %}
                No schedule information found
            {% else %}
                {% if section.daysOfWeek b-and 1  %}
                    <input type="checkbox" name="Mon" checked disabled> Mon 
                {% else %}
                    <input type="checkbox" name="Mon" disabled> Mon 
                {% endif %}

                {% if section.daysOfWeek b-and 2  %}
                    <input type="checkbox" name="Tues" checked disabled> Tues 
                {% else %}
                    <input type="checkbox" name="Tues" disabled> Tues 
                {% endif %}

                {% if section.daysOfWeek b-and 4  %}
                    <input type="checkbox" name="Wed" checked disabled> Wed 
                {% else %}
                    <input type="checkbox" name="Wed" disabled> Wed 
                {% endif %}

                {% if section.daysOfWeek b-and 8  %}
                    <input type="checkbox" name="Thurs" checked disabled> Thurs 
                {% else %}
                    <input type="checkbox" name="Thurs" disabled> Thurs 
                {% endif %}

                {% if section.daysOfWeek b-and 16  %}
                    <input type="checkbox" name="Fri" checked disabled> Fri 
                {% else %}
                    <input type="checkbox" name="Fri" disabled> Fri 
                {% endif %}

                {% if section.daysOfWeek b-and 32  %}
                    <input type="checkbox" name="Sat" checked disabled> Sat 
                {% else %}
                    <input type="checkbox" name="Sat" disabled> Sat 
                {% endif %}

                {% if section.daysOfWeek b-and 64  %}
                    <input type="checkbox" name="Sun" checked disabled> Sun 

                {% else %}
                    <input type="checkbox" name="Sun" disabled> Sun 
                {% endif %}

            {% endif %}
            {% if section.getTeachingAssistant() != null %}
                <br>TA: {{section.getTeachingAssistant().firstName}} {{section.getTeachingAssistant().lastName}}
            {% endif %}
            <h3>Teacher: 
                {% if section.getTeacher().getGender() == 1 %}
                    Mr.
                {%else%}
                    Ms.
                {% endif %}
                {{section.getTeacher().firstName}} {{section.getTeacher().lastName}}
                {% if permissions['Teacher\\ReportCard'] b-and 1  %}
                    <a href="{{ path('_teacher_reportcard', {'id':section.id})}}">
                        <button type="button" class="btn btn-primary btn-med pull-right" style="margin-right: 10px">
                            Generate Class Report 
                        </button>    </a>
                    <a href="{{ path('_teacher_grade_detail', {'id': section.id}) }}">
                        <button type="button" class="btn btn-primary btn-med pull-right" style="margin-right: 10px">
                            View overall grades
                        </button></a>
                {% endif %}
                <a href="{{ path ('_documents', {'id': section.class.id}) }}" class="btn btn-success btn-med pull-right" style="margin-right: 10px">Upload Document</a>
                <a href="{{ path ('_documents_list') }}" class="btn btn-success btn-med pull-right" style="margin-right: 10px">View Documents</a>
                {% if permissions['Teacher\\Main'] b-and 1  %}
                    <a href="{{ path ('_teacher_section', {'id': section.id}) }}" class="btn btn-warning btn-med pull-right" style="margin-right: 10px">View Teacher Page</a>
                {% endif %}
        </div>

        <div class="row">
            <!-- TABLE -->
            <table class="table table-hover">
                <!-- TABLE HEADER -->
                <thread>
                    <tr>
                        <th>Students Enrolled</th>
                        <th></th>
                    </tr>
                </thread>
                <!-- TABLE BODY -->
                <tbody>
                    {% if section is defined %}
                        {% for student in section.getStudents() %}
                            {% if permissions['Admin\\Users'] b-and 1  %}
                            <tr onclick="window.document.location='{{ path('_admin_users_show', {'id': student.id}) }}';" class="click_rows">
                            {% else %}
                            <tr>
                            {% endif %}
                                <td> {{student.firstName}} {{student.lastName}} </td>

                                <td>
                                    <a class="btn btn-danger btn-outline btn-med pull-right" href="{{ path('_admin_unenroll_student', {'user_id': student.id, 'section_id': section.id}) }}" onclick="return confirm('Are you sure you want remove the {{student.firstName}} from {{section.class.name}} section {{section.id}}?')" class="btn btn-outline btn-med btn-danger" style="margin-left: 10px"><i class="fa fa-times"></i> Remove Student</a>

                                    {% if permissions['Teacher\\ReportCard'] b-and 1  %}
                                        <a class="btn btn-success btn-outline btn-med pull-right" href="{{ path('_teacher_reportcard_studentDetail', {'id':section.id, 'student_id': student.id}) }}"/>Student Report</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}