{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
Send a new Campus-wide Email
{% endblock %}

{% block breadcrumb %}
<li>New Mail</li>
{% endblock %}

{% block content -%}
<div class="col-lg-6">
	{{ form_start(form) }}
	{% form_theme form with ['bootstrap_3_layout.html.twig'] %} 
	{{ form_widget(form) }}
	{{ form_end(form) }}
</div>
{% endblock %}
