{% spaceless %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>{% block title %}Gobind Sarvar School{% endblock %}</title>

            <!-- Bootstrap Core CSS -->
            {% block stylesheets %}
                <link href="{{ asset('/bundles/app/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
                <link href="{{ asset('/bundles/app/bower_components/metisMenu/dist/metisMenu.min.css') }}" type="text/css" rel="stylesheet">
                <link href="{{ asset('/bundles/app/css/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css">
                <link href="{{ asset('/bundles/app/css/bootstrap-table.css') }}" type="text/css" rel="stylesheet">
                <link href="{{ asset('/bundles/app/css/sb-admin-2.css') }}" type="text/css" rel="stylesheet">
                <link href="{{ asset('/bundles/app/bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
                <link href="{{ asset('/bundles/app/css/style.css') }}" type="text/css" rel="stylesheet">
                <link href="{{ asset('/bundles/app/css/checkbox.css') }}" rel="stylesheet" type="text/css">
            {% endblock %}

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->

            {% block javascript %}
            <script src="{{ asset('/bundles/app/bower_components/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('/bundles/app/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('/bundles/app/bower_components/metisMenu/dist/metisMenu.min.js') }}"></script>
            <script src="{{ asset('/bundles/app/js/sb-admin-2.js') }}"></script>
            <script src="{{ asset('/bundles/app/js/bootstrap-table.js') }}"></script>
            <script type= "text/javascript" src="{{ asset('/bundles/app/js/jquery.dataTables.js') }}"></script>
            <script type= "text/javascript" src="{{ asset('/bundles/app/js/dataTables.bootstrap.js') }}"></script>
            {#<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDenoFvjdeHZnHQkQ3JMMVNPYQvZK6wfMg"></script>#}

            {% endblock %}

        </head>

        <body background="{{ asset('bundles/app/img/background.svg') }}">
            <div id="wrapper">
                <!-- Navigation -->
                <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        {#<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>#}
                        <a class="navbar-brand" href="{{ path('_homepage') }}"><img src="{{ asset('bundles/app/img/logo_full.png') }}" style="width:98px; height:50px; margin-left: 3px;" align="left" /></a>

                    </div>
                    <!-- /.navbar-header -->

                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" onClick="annoucementsRead()">
                                <span id="annoucementNotification" class="label label-warning" style="border-radius: 1em; margin-right:10px; display:none;">You have unread announcements <i class="fa fa-caret-right"></i></span>
                                <i class="fa fa-envelope fa-fw"></i><i class="fa fa-caret-down"></i>
                            </a>
                            <script type="text/javascript">
                                var lastRead = -1;
                            
                                function annoucementsRead()
                                {
                                    jQuery('#annoucementNotification').fadeOut('slow');
                                    jQuery.ajax("{{ path('_ajax') }}?t=setLastSeen&a=" + lastRead);
                                }
                            
                                jQuery(document).ready(function () {
                                    jQuery('#announcementsBase').html("<strong>Loading...</strong>");
                                    var announcementsBase = jQuery('#announcementsBase');
                                    jQuery.getJSON("{{ path('_ajax') }}?t=getAnnouncements", function (jsonData) {
                                        var markup;
                                        var hasUnread = -1;
                                        
                                        markup = [];
                                        jQuery.each(jsonData, function (i, data) {
                                            if (hasUnread == -1)
                                            {
                                                hasUnread = data["hasUnread"];
                                            }
                                            else
                                            {
                                                if (lastRead == -1)
                                                    lastRead = data[0]["id"];
                                            
                                                markup.push("<li><a href=\"#\"><div><strong>");
                                                markup.push(data["firstName"] + ' ' + data["lastName"]);
                                                markup.push("</strong><span class=\"pull-right text-muted\"><em>");
                                                markup.push(data[0]["created"]);
                                                markup.push("</em></span></div><div>");
                                                markup.push(data[0]["message"]);
                                                markup.push("</div></a></li><li class=\"divider\"></li>");
                                            }
                                        });
                                        
                                        markup.push("<li class=\"divider\"></li><li><a class=\"text-center\" href=\"{{ path('_admin_announcements_new') }}\"><strong>Create new Announcements </strong><i class=\"fa fa-angle-right\"></i></a></li>");

                                        markup.push("<li class=\"divider\"></li><li><a class=\"text-center\" href=\"{{ path('_admin_mail_new') }}\"><strong>Send a New Email </strong><i class=\"fa fa-angle-right\"></i></a></li>");

                                        markup.push("<li class=\"divider\"></li><li><a class=\"text-center\" href=\"{{ path('_admin_announcements') }}\"><strong>Read All Announcements </strong><i class=\"fa fa-angle-right\"></i></a></li>");

                                        jQuery('#announcementsBase').html(markup.join(""));
                                        
                                        if (hasUnread > 0)
                                            jQuery('#annoucementNotification').fadeIn('slow');
                                    });
                                });
                            </script>
                <ul id="announcementsBase" class="dropdown-menu dropdown-messages">
                </ul>
            </li>
            <li>
                <a href="{{ path('_user') }}"{# style="color: #fff;"#}><i class="fa fa-user fa-fw"></i> {{ app.user }}</a>
            </li>
            <li>
                <a href="{{ path('_logout') }}"{# style="color: #fff;"#}><i class="fa fa-sign-out fa-fw"></i></a>
            </li>
        </ul>

        {# sidebar #}
        <div class="sidebar" role="navigation" style="color: #fff;">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    {% block sidebar %}


                    {# GLOBAL SEARCH #}
                    {% if permissions['Search'] b-and 1  %}
                    <li class="sidebar-search">
                        <form method="get" action="{{ path("_search") }}">
                            <div class="input-group custom-search-form">
                                <input type="text" name="q" id="q" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>
                    {% endif %}


                    {# ADMIN MENU ITEMS #}

                                    {#{% if permissions['Admin\\Dashboard'] b-and 1  %}
                                        <li>
                                            <a href="{{ path('_admin_dashboard') }}"><i class="fa fa-dashboard fa-fw"></i> Admin Dashboard</a>
                                        </li>
                                        {% endif  %}#}

                                        {% if permissions['Admin\\Campuses'] b-and 1  %}
                                        <li>
                                            {% if permissions['Admin\\Campuses'] b-and 32  %}
                                            <a href="{{ path('_admin_campuses') }}"><i class="fa fa-university fa-fw"></i> Campuses</a>
                                            {% else %}
                                            <a href="{{ path('_admin_campuses_show', {id: app.user.getCampus().getId()}) }}"><i class="fa fa-university fa-fw"></i> My Campus</a>
                                            {% endif  %}
                                        </li>
                                        {% endif  %}

                                        {% if permissions['Admin\\Users'] b-and 1  %}
                                        <li>
                                            <a href="{{ path('_admin_users') }}"><i class="fa fa-users fa-fw"></i> Users</a>
                                        </li>
                                        {% endif %}


                                        {% if permissions['Admin\\Departments'] b-and 1  %}
                                        <li>
                                            <a href="{{ path('_admin_departments') }}"><i class="fa fa-graduation-cap fa-fw"></i> Departments</a>
                                        </li>
                                        {% endif %}

                                        {# TEACHER MENU ITEMS #}
                                        {% if permissions['Teacher\\Main'] b-and 1  %}
                                        <li>
                                            <a href="{{path('_teacher_main')}}"><i class="fa fa-bookmark fa-fw"></i> Current Term</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('_teacher_pastYear') }}"><i class="fa fa-history fa-fw"></i> Past Terms</a>
                                        </li>

                                        {% endif %}

                                        {% if permissions['Admin\\Payments'] b-and 1  %}
                                        <li>
                                            <a href="{{ path ('_admin_payments') }}"><i class="fa fa-money fa-fw"></i> Financial Summary</a>
                                        </li>
                                        {% endif %}

                                        {% if (permissions['Admin\\Settings'] b-and 1 or permissions['Admin\\PermissionGroup'] b-and 1 or permissions['Admin\\ImportExport'] b-and 1)  %}
                                        <li>
                                            <a href="#"><i class="fa fa-gears fa-fw"></i> Sytem Management</a>
                                            <ul class="nav nav-second-level collapse" aria-expanded="true">
                                                {% if permissions['Admin\\Settings'] b-and 1 %}
                                                <li>
                                                    <a href="{{ path('_admin_settings') }}"><i class="fa fa-gear fa-fw"></i> Settings</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('_admin_user_logs') }}"><i class="fa fa-gear fa-fw"></i> User Logs</a>
                                                </li>
                                                {% endif %}
                                                {% if permissions['Admin\\PermissionGroup'] b-and 1 %}
                                                <li>
                                                    <a href="{{ path('_admin_permission_group') }}"><i class="fa fa-user fa-fw"></i> Permission Group </a>
                                                </li>
                                                {% endif %}
                                                {% if permissions['Admin\\ImportExport'] b-and 1 %}
                                                <li>
                                                    <a href="{{ path('_admin_export_show') }}"><i class="fa fa-database fa-fw"></i> Export Data</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                            <!-- /.nav-second-level -->
                                        </li>
                                        {% endif %}





                                        {# STUDENT MENU ITEMS #}
                                        {% if permissions['Student\\Index'] b-and 1  %}

                                            {% if app.user.getCampus().getActiveTerm() != NULL %}
                                                <li>
                                                    <a href="#"><i class="fa fa-graduation-cap fa-fw"></i> My Account</a>
                                                    <ul class="nav nav-second-level collapse" aria-expanded="true">
                                                        <li>
                                                            <a href="{{ path('_student_currentYear') }}"><i class="fa fa-user fa-fw"></i> Current Term</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('_student_pastYear') }}"><i class="fa fa-user fa-fw"></i> Past Terms</a>
                                                        </li>
                                                        {% if app.user.getCampus().getEnrollmentTerm() != NULL %}
                                                            <li>
                                                                <a href="{{ path('_admin_enrollment_departments_index', {'user_id': app.user.id}) }}"><i class="fa fa-users fa-fw"></i> Enrollment </a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </li>
                                            {% endif %}
                                        {% endif %}

                                        {% endblock %}
                                    </ul>
                                </div>
                            </div>

                        </nav>

                        {# MAIN PAGE CONTENT #}
                        <div id="page-wrapper">

                            <div class="row">
                                <div class="col-lg-12">
                                    {# Breadcrumb #}
                                    {% block breadcrumb_all %}
                                    <ol class="breadcrumb">
                                        <li><a href="{{ path('_homepage') }}">Home</a></li>
                                        {% block breadcrumb %}{% endblock %}
                                    </ol>
                                    {% endblock %}
                                    {# Header #}
                                    <h1 class="page-header">{% block header %}Base: No Header Defined{% endblock %}</h1>
                                    {#         {% block subheader %} {% endblock %}#}
                                </div>
                            </div>

                            {% block alerts %}
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="alert alert-success alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true" >×</button>
                                <strong>Success!</strong> {{ flashMessage }}
                            </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('error') %}
                            <div class="alert alert-danger" role="alert">
                                <strong>Error!</strong> {{ flashMessage }}
                            </div>
                            {% endfor %}
                            {% endblock %}

                            <div class="row">
                                {% block content %}
                                <div class="jumbotron">
                                    No content.
                                </div>
                                {% endblock %}
                            </div>

                        </div>
                    </div>
                </body>

                <footer>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <div class="copyright" style="text-align: center;">
                                    <p width: "100%;">
                                        <a style="color: #fff;" href="{{ path('_terms_and_conditions') }}">Terms and Conditions</a> <br>
                                        "Today's Learner ... Tomorrow's Guide" <br>
                                        Pear by <a style="color: #fff" href="http://pearprogrammers.com">PearProgrammers</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                    </div>


                    {% endspaceless %}
