{% extends 'AppBundle:Registration:index.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="page-header" style="text-align: center">Thank you for registering!</h1>
        <p style="text-align: center">We are still reviewing your application. Please await confirmation from the admin for further access</p>
    </div>
    <!-- 2 break lines -->
    <br><br>
{% endblock %}