<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PEAR: Registration</title>

    {% block stylesheets %}
    <!-- Bootstrap Core CSS -->
    <link href="{{asset('bundles/app/bower_components/bootstrap/dist/css/bootstrap.min.css')}}" type="text/css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{asset('bundles/app/bower_components/metisMenu/dist/metisMenu.min.css')}}" type="type/css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{asset('bundles/app/css/sb-admin-2.css')}}" type="text/css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{asset('bundles/app/bower_components/font-awesome/css/font-awesome.min.css')}}" type="text/css" rel="stylesheet" type="text/css">

    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->

            {% block head_script %}
            {% endblock %}
        </head>

        <body background="{{ asset('bundles/app/img/background.svg') }}" style="background-attachment: fixed;">

            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <center><img src="{{ asset('bundles/app/img/header.png') }}" style="width:65%; margin-bottom:20px; margin-top: 20px;" /></center>
                        <div class="login-panel panel panel-default" style="margin-top:0px">
                            {% block content %}
                            <div class="panel-heading">
                                <h1 class="panel-title"><center>Student Registration</center></h1>
                            </div>
                            <div class="panel-body">
                                {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="alert alert-danger" role="alert">
                                    <div class="flash-notice">
                                        {{ flashMessage }}
                                    </div>
                                </div>
                                {% endfor %}

                                {{ form_start(form) }}
                                {% if not form.vars.valid %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form_errors(form.password) }}
                                </div>
                                {% endif %}
                                <table class="table">
                                    <tr>
                                        <td style="border-top:0; width:50%;">
                                            <div>
                                                {{ form_label(form.email) }}
                                                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}

                                            </div>
                                        </td>
                                        <div>
                                            <td style="border-top:0; width:50%;">
                                                {{ form_label(form.file) }}
                                                {{ form_widget(form.file) }}
                                            </td>
                                        </div>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                {{ form_label(form.password.first) }}
                                                {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {{ form_label(form.password.second) }}
                                            {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            {{ form_label(form.campus) }}
                                            {{ form_widget(form.campus, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {{ form_label(form.firstName) }}
                                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            {{ form_label(form.middleName) }}
                                            {{ form_widget(form.middleName, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {{ form_label(form.lastName) }}
                                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            {{ form_label(form.birthDate) }}
                                            {{ form_widget(form.birthDate, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {{ form_label(form.gender) }}
                                            {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            {{ form_label(form.homeAddress) }}
                                            {{ form_widget(form.homeAddress, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {{ form_label(form.phone) }}
                                            {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            {{ form_label(form.city) }}
                                            {{ form_widget(form.city, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {{ form_label(form.postalCode) }}
                                            {{ form_widget(form.postalCode, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            {{ form_label(form.parentName) }}
                                            {{ form_widget(form.parentName, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {{ form_label(form.parentEmail) }}
                                            {{ form_widget(form.parentEmail, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr><td>
                                    <div>
                                        {{ form_label(form.parentNumber) }}
                                        {{ form_widget(form.parentNumber, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
                                    </div>
                                </td></tr>
                                
                                <tr>
                                    <td>
                                        <div>
                                            {{ form_label(form.emergencyName) }}
                                            {{ form_widget(form.emergencyName, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {{ form_label(form.emergencyContact) }}
                                            {{ form_widget(form.emergencyContact, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            {{ form_label(form.allergies) }}
                                            {{ form_widget(form.allergies, {'attr': {'class': 'form-control', 'placeholder': '(optional)'}}) }}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {{ form_label(form.tshirtSize) }}
                                            {{ form_widget(form.tshirtSize, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <br><br>
                                        <div class="control-group">
                                            <div class="controls">
                                              <center>
                                                  <div>
                                                    {{ form_label(form.apply) }}
                                                    {{ form_widget(form.apply, {'attr': {'class': 'btn btn-success', 'style' : 'width:100%'}}) }}
                                                </div>
                                            </center>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        {{ form_end(form) }}
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('bundles/app/bower_components/jquery/dist/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('bundles/app/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ asset('bundles/app/bower_components/metisMenu/dist/metisMenu.min.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset('bundles/app/js/sb-admin-2.js') }}"></script>

    {% endblock %}
</body>

</html>