{% extends 'AppBundle:Registration:index.html.twig' %}

{% block content %}
    <h1 class="panel-body" style="text-align:center">Thank you for registering</h1>
    <h3 style="text-align: center">You must confirm your email address.</h3>
    <br>
    <h4 style="margin-left:10px;">How to confirm your email address:</h4>
    <ol>
        <li>Go to your email inbox and find the message from PEAR welcoming you.</li>
        <li>Click the link to confirm that the address is correct. You may be asked to log in to your account.</li>
    </ol>
    <!-- 2 break lines -->
    <br><br>
{% endblock %}