{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    <p>{{user.firstName}} {{user.lastName}}'s Current Term</p>
{% endblock %}
{% block breadcrumb %}
    <li>Current Term</li>
    {% endblock %}

{% block content %}
  <script>
        $(document).ready(function () {
            $('#sec_table').dataTable({
                "pagingType": "full_numbers",
                "scrollX": "false",
            });
        });
    </script>

    <div class="col-lg-12">
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Courses Registered In</strong>
            </div>

    <div class="col-lg-12">
        <div class="table-responsive">
            <table id="sec_table" class="table table-hover" cellspacing="0" data-click-to-select="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true">
                <thead>
                                <tr>
                                    <th data-sortable="true">Term</th>
                                    <th data-sortable="true">Course Name</th>
                                    <th data-sortable="true">Section</th>
                                    <th> Time </th>
                                    <th> Teacher </th>
                                    <th>  </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in currentYear %}

                                    <tr>
                                        <td>{{course.getTerm().getName()}}</td>
                                        <td>{{course.getClass().getName()}}</td>
                                        <td>{{course.getId()}}</td>
                                        <td>
                                            {% if course.daysOfWeek == null %}
                                                no information / {{course.start|date('H:i')}} ~ {{course.end|date('H:i')}}
                                            {% else %}
                                                {% if course.daysOfWeek b-and 1  %}
                                                    Mon
                                                {% endif %}

                                                {% if course.daysOfWeek b-and 2  %}
                                                    Tues
                                                {% endif %}

                                                {% if course.daysOfWeek b-and 4  %}
                                                    Wed
                                                {% endif %}

                                                {% if course.daysOfWeek b-and 8  %}
                                                    Thurs
                                                {% endif %}

                                                {% if course.daysOfWeek b-and 16  %}
                                                    Fri
                                                {% endif %}

                                                {% if course.daysOfWeek b-and 32  %}
                                                    Sat
                                                {% endif %}

                                                {% if course.daysOfWeek b-and 64  %}
                                                    Sun
                                                {% endif %}
                                                / {{course.start|date('H:i')}} ~ {{course.end|date('H:i')}}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if course.teacher.gender == 1 %}
                                                Mr. {{course.teacher.lastName}}
                                            {%endif%}
                                            {% if course.teacher.gender == 0 %}
                                                Ms. {{course.teacher.lastName}}
                                            {%endif%}
                                        </td>
                                        <td>

                                            {% if permissions['Student\\Attendance'] b-and 1  %}
                                                <a class="btn btn-outline btn-xs btn-default pull-right" data-toggle="modal" data-target="#doc-{{ course.getId() }}"><i class="fa fa-archive"></i> Documents</a>
                                                <!-- Modal Content Begins Here -->

                                                <div class="modal fade" id="doc-{{ course.getId() }}" tabindex="-1" role="dialog" aria-labelledby="doc-{{ course.getId() }}" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">
                                                                    <span aria-hidden="true">&times;</span>
                                                                    <span class="sr-only">Close</span>
                                                                </button>
                                                                <h4 class="modal-title" id="project-1-label">Document</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="panel panel-default">
                                                                    <div class="table-responsive">
                                                                        <table class="table table-hover" id="doc_table" data-click-to-select="true" data-search="true" data-pagination="true">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th data-field="doc">Document</th>
                                                                                    <th data-field="assign">Assignment</th>
                                                                                    <th data-field="open">Open</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                {% for doc in course.getClass().getDocuments() %}
                                                                                    <tr>
                                                                                        <td>{{doc.name}}</td>
                                                                                        {% if doc.getAssignment() !=null  %}
                                                                                            <td>{{doc.assignment.name}}</td>
                                                                                        {% else %}
                                                                                            <td>N/A</td>
                                                                                        {% endif %}
                                                                                        <td>
                                                                                            <a href="{{ asset('bundles/app/uploads/' ~ doc.path) }}" > <i class="fa fa-eye"></i> </a>
                                                                                        </td>
                                                                                    </tr>
                                                                                {% endfor %}
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- /Modal Content Ends Here -->
                                            {% endif %}

                                            {% if permissions['Student\\Grades'] b-and 1  %}
                                                <a href="{{ path('_student_grade', {'uid' : user.id, 'sid' : course.id}) }}" class="btn btn-outline btn-xs btn-default pull-right">
                                                    <i class="fa fa-graduation-cap"></i> Grade

                                                </a>
                                            {% endif %}
                                            {% if permissions['Student\\Attendance'] b-and 1  %}
                                                <a href="{{ path('_student_attendance', {'uid' : user.id, 'sid' : course.id}) }}" class="btn btn-outline btn-xs btn-default pull-right">
                                                    <i class="fa fa-bar-chart"></i> Attendance
                                                </a>
                                            {% endif %}

                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.row -->
            </div>

            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->

    <!-- /.col-lg-4 -->
{% endblock %}