{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    <p>{{user.firstName}} {{user.lastName}}'s Past Terms </p>
{% endblock %}
{% block breadcrumb %}
    <li>Past Terms</li>
{% endblock %}

{% block content %}

        <div class="col-lg-12">
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Courses Registered In</strong>
                </div>
                <!-- /.panel-heading -->
   <script>
        $(document).ready(function () {
            $('#past_table').dataTable({
                "pagingType": "full_numbers",
                "scrollX": "false",
            });
        });
    </script>

    <!-- Table start -->

    <div class="col-lg-12">
        <div class="table-responsive">
            <table id="past_table" class="table table-hover" cellspacing="0" data-click-to-select="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true">
                <thead>
                                    <tr>
                                        <th data-sortable="true">Term</th>
                                        <th data-sortable="true">Course Name</th>
                                        <th data-sortable="true">Section</th>
                                        <th> Time </th>
                                        <th> Teacher </th>
                                        <th>  </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for course in pastYear %}
                                        <tr>
                                            <td>{{course.getTerm().getName()}}</td>
                                            <td>{{course.getClass().getName()}}</td>
                                            <td>{{course.getId()}}</td>
                                            <td>
                                                {% if course.daysOfWeek == null %}
            no information / {{course.start|date('H:i')}} ~ {{course.end|date('H:i')}}
        {% else %}
            {% if course.daysOfWeek b-and 1  %}
                Mon
                {% endif %}

            {% if course.daysOfWeek b-and 2  %}
                Tues
                {% endif %}

            {% if course.daysOfWeek b-and 4  %}
                Wed
                {% endif %}

            {% if course.daysOfWeek b-and 8  %}
                Thurs
                {% endif %}

            {% if course.daysOfWeek b-and 16  %}
                Fri
                {% endif %}

            {% if course.daysOfWeek b-and 32  %}
                Sat
                {% endif %}
                
            {% if course.daysOfWeek b-and 64  %}
                Sun
                {% endif %}
                / {{course.start|date('H:i')}} ~ {{course.end|date('H:i')}}
            {% endif %}
                                            </td>
                                            <td>
                                                {% if course.teacher.gender == 1 %}
                                                 Mr. {{course.teacher.lastName}}
                                                 {%endif%}
                                                {% if course.teacher.gender == 0 %}
                                                    Ms. {{course.teacher.lastName}}
                                                    {%endif%}
                                            </td>
                                            <td>
                                                {% if permissions['Student\\Grades'] b-and 1  %}
                                                <a href="{{ path('_student_grade', {'uid' : user.id, 'sid' : course.id}) }}" class="btn btn-outline btn-med btn-default pull-right">
                                                    <i class="fa fa-graduation-cap">Grade</i>
                                                
                                                </a>
                                                    {% endif %}
                                                
                                                    {% if permissions['Student\\Attendance'] b-and 1  %}
                                                <a href="{{ path('_student_attendance', {'uid' : user.id, 'sid' : course.id}) }}" class="btn btn-outline btn-med btn-default pull-right">
                                                    <i class="fa fa-bar-chart">Attendance</i>
                                                    
                                                </a>
                                                    {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                            <!-- /.table-responsive -->
                    </div>
                    <!-- /.row -->
                </div>
                                
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Some Panel
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        
                    </div>
                    <!-- /.list-group -->
                    <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.col-lg-4 -->

{% endblock %}