{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    <p>My Attendance for {{section.getClass().getName()}}</p>
{% endblock %}
{% block breadcrumb %}
    <li>My Attendance</li>
{% endblock %}

{% block content %}

    <div class="row">

        <table class="table table-striped" id="attendance_detail_table"  data-pagination="true">
            <thead>
                <tr>
                    <th data-field="attendance_date">Dates</th>
                </tr>
            </thead>
            {% set total_attendance = 0 %}
            {% set present_attendance = 0 %}
            <tbody>
                {% for attendance in attendances %}
                    <tr>
                        <td>{{attendance.date}}</td>     
                        <td>

                            {% if array_attendance[attendance.date] is defined %}
                                {% set status = array_attendance[attendance.date] %}

                            {% else %}
                                {%set status = "" %}
                            {% endif %}
                            {% if status == "present" %}
                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{attendance.date}}" value="present" checked>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star checked fa-lg"></i>
                                    Present
                                </label>

                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{attendance.date}}" value="true" disabled>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-half  checked fa-lg"></i>
                                    Late
                                </label>
                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{attendance.date}}" value="false" disabled>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-o  checked fa-lg"></i>
                                    Absent
                                </label>     
                                {% set present_attendance = present_attendance +  1 %}
                                {% set total_attendance = total_attendance  + 1 %}
                            {% elseif status == "late" %}
                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{attendance.date}}" value="present" disabled>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star checked fa-lg"></i>
                                    Present
                                </label>

                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{attendance.date}}" value="true" checked>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-half  checked fa-lg"></i>
                                    Late
                                </label>
                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{attendance.date}}" value="false" disabled>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-o  checked fa-lg"></i>
                                    Absent
                                </label>     
                                {% set present_attendance = present_attendance + 1 %}
                                {% set total_attendance = total_attendance  + 1 %}
                            {% elseif status == "absent" %}
                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{attendance.date}}" value="present" disabled>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star checked fa-lg"></i>
                                    Present
                                </label>

                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{attendance.date}}" value="true" disabled>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-half  checked fa-lg"></i>
                                    Late
                                </label>
                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{attendance.date}}" value="false" checked>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-o  checked fa-lg"></i>
                                    Absent
                                </label>     
                                {% set total_attendance = total_attendance  + 1 %}
                            {% else %}
                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{attendance.date}}" value="present" disabled>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star checked fa-lg"></i>
                                    Present
                                </label>

                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{attendance.date}}" value="true" disabled>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-half  checked fa-lg"></i>
                                    Late
                                </label>
                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{attendance.date}}" value="false" disabled>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-o  checked fa-lg"></i>
                                    Absent
                                </label>     
                                {% set total_attendance = total_attendance  + 1 %}
                            {% endif %}
                        </td>           
                    </tr>
                {% endfor %}
                
            </tbody>
        </table> 
                {% if total_attendance > 0 %}
                {% set rate = present_attendance / total_attendance %}
                <h2> Attendance Rate : {{ (rate * 100) | round(1, 'ceil') }} % </h2>
                {% else %}
                    <h2> The class currently does not have any attendance record.</h2>
                    {% endif %}
        
    </div>


{% endblock %}