{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    <p>My Grades for {{section.getClass().getName()}}</p>
{% endblock %}
{% block breadcrumb %}
    <li>My Grades</li>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <h4 align="center"> Class Average Grade : {{percentage}} % </h4>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <th style="text-align: center" data-sortable="true">Assignment Name</th>
                <th style="text-align: center" data-sortable="true">Grade</th>
                </thead>
                <tbody>
                    {% for assignment in section.assignments %}
                        <tr>
                            <td style="text-align: center">{{assignment.getName()}}</td>
                            {% set name = assignment.getName() %}
                            {% if array_grade[name] is defined %}
                            <td style="text-align: center">{{array_grade[name]}} % </td>  
                            {% else %}
                               <td style="text-align: center"> n/a </td
                                {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
                <tr>
                <tr>
            </table>
        </div>
    </div>
{% endblock %}

