{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    Add new Active Term to {{campus.name}}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        <br />
        {{ form_label(form.start) }}
        {{ form_widget(form.start) }}
        <br />
        {{ form_label(form.end) }}
        {{ form_widget(form.end) }}
    </div>
    <div class="control-group">
        <input type="submit" class="btn btn-primary" value="Add Active Term">
    </div>
    {{ form_end(form) }}




{% endblock %}