{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    Terms
{% endblock %}
{% block breadcrumb %}
    <li>Schools</li>
{% endblock %}

{% block content %}
    {% if campusTerms is defined %}
        {% for campusTerm in campusTerms %}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail tile tile-medium tile-teal">
                    {% if permissions['Admin\\CampusTerms'] b-and 1  %}
                    <a href="{{ path('_admin_terms_show', {'id': campusTerm.id}) }}" >
                        <h1> Term with ID: {{campusTerm.Id}} </h1>
                    </a>
                    {% endif %}
                </div>

                <tbody>
                    {% for section in campusTerm.sections%}
                    <tr>
                        <td>{{section.class.name}} section {{section.id}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>    

            </div>
        {% endfor %}
    {% endif %}

{% endblock %}