{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    Class Scheduler: Term #{{term.id}}
{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('_admin_campuses') }}">Campuses</a></li>
    <li><a href="{{ path('_admin_campuses_show', {id: term.campus.id}) }}">{{term.campus.name}}</a></li>
    <li><a href="{{ path('_admin_terms_show', {id: term.id}) }}">Term {{term.id}}</a></li>
    <li>Class Scheduler</li>
{% endblock %}

{% block content %}
    <script>
        $(document).ready(function() {
            $('.table tr').click(function(event) {
                if (event.target.type !== 'checkbox') {
                    $(':checkbox', this).trigger('click');
                }
            });
        });
    </script>
    <form name="addClasses" action="{{ path('_admin_terms_schedule_post',{'id':term.id}) }}" method="POST">
        {% for department in departments %}
            <h2>{{ department.getName() }}</h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true"></th>
                            <th>Class Name</th>
                            <th>Class Description</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for class in department.getClasses() %}
                        <tr>
                            <td class="bs-checkbox" style="width:10px"><input type="checkbox" name="classes[]" id="classes[]" value="{{ class.id }}" /></td>
                            {% if permissions['Admin\\CampusTerms'] b-and 4  %}
                            <td style="width:25%">{#<a href="{{ path('_admin_classes_edit', {'id':class.id}) }}">#}{{ class.getName() }}{#</a>#}</td>
                            {% endif %}
                            <td>{{ class.getDescription() }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
        {% if permissions['Admin\\CampusTerms'] b-and 2  %}
        <input type="submit" value="Add Selected Classes" class="btn btn-success" />
        {% endif %}
        </form>
    <br><br><br>
{% endblock %}