{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    Add sections to term #{{term.id}}
{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('_admin_campuses') }}">Campuses</a></li>
    <li><a href="{{ path('_admin_campuses_show', {id: term.campus.id}) }}">{{term.campus.name}}</a></li>
    <li><a href="{{ path('_admin_terms_show', {id: term.id}) }}">Term {{term.id}}</a></li>
    <li><a href="{{ path('_admin_terms_schedule', {id: term.id}) }}">Class Scheduler</a></li>
    <li>Add sections to term #{{term.id}}</li>
{% endblock %}

{% block content %}
    <div class="modal fade" id="addSectionModal" tabindex="-1" role="dialog" aria-labelledby="addSectionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="addSectionModalLabel">Add Section</h4>
            </div>
            {{ form_start(form, {'attr': {'id': 'addsection'}}) }}
            <div class="modal-body">
                <div class="alert alert-info" id="addingMsg" id="addingMsg" style="display:none">
                    Adding Section... Please wait.
                </div>
                {% form_theme form with ['bootstrap_3_layout.html.twig'] %} 
                {{ form_widget(form) }}
                <script>
                    $("#addsection").submit(function(e)
                    {
                        var postData = $(this).serializeArray();
                        var formURL = $(this).attr("action");
                        $.ajax(
                        {
                                url : formURL,
                                type: "POST",
                                async: true,
                                data : postData,
                                beforeSend:function(){
                                    $("#addingMsg").show();
                                },
                                success:function(data, textStatus, jqXHR) 
                                {
                                    var sectionsBody = "#sectionsBody" + $("#addsection_class").val();
                                    $(sectionsBody).html(data);
                                    $("#addingMsg").hide();
                                    $('#addSectionModal').modal('hide');
                                },
                                error: function(jqXHR, textStatus, errorThrown) 
                                {
                                    $("#addingMsg").hide();
                                }
                        });
                        e.preventDefault();
                    });
                </script>
                <strong>Days of Week: </strong><br>
              <input type="checkbox" name="Mon"> Mon 
              <input type="checkbox" name="Tues"> Tues 
              <input type="checkbox" name="Wed"> Wed 
              <input type="checkbox" name="Thurs"> Thurs 
              <input type="checkbox" name="Fri"> Fri 
              <input type="checkbox" name="Sat"> Sat 
              <input type="checkbox" name="Sun"> Sun 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Add Section">
            </div>
            {{ form_end(form) }}
          </div>
        </div>
    </div>
    
    <script>
        $('#addSectionModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('classid')
            var name = button.data('classname')
            var modal = $(this)
            modal.find('.modal-title').text('Add Section to ' + name)
            modal.find('.modal-body #addsection_class').val(id)
          })
    </script>
            
    <div class="col-sm-6">
    {% for class in classes %}
        {% if permissions['Admin\\CampusTerms'] b-and 2  %}
        <h2>{{ class.getName() }} <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addSectionModal" data-classid="{{ class.id }}" data-classname="{{ class.getName() }}"><i class="fa fa-plus"></i> ADD SECTION</button></h2>
        {% endif %}
        <div id="sectionsBody{{ class.id }}" style="margin-left:10px;">
            {% set sections = term.getSections() %}
            {% embed "AppBundle:Admin:CampusTerms/sectionBar.html.twig" with {'sections': sections} %}
            {% endembed %}
        </div>
    {% endfor %}
    </div>
    <br>
{% endblock %}