{% if sections|length == 0 %}
    No sections of this class in this session.
{% else %}
    {% for section in sections %}
        <b>Section {{ section.getId() }}</b> | <b>Teacher</b>: {{ section.getTeacher() }} | <b>Time</b>: {{ section.getStart()|date('h:i') }} - {{ section.getEnd()|date('h:i') }} | <b>Location</b>: {{ section.getLocation() }}  <br>
    {% endfor %}
{% endif %}