{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}

Term {{term.id}} : {{term.name}} 
{% if permissions['Admin\\CampusTerms'] b-and 2  %}
<a class="btn btn-info btn-med pull-right" href="{{ path('_admin_terms_edit', {'id':term.id}) }}">Edit Term</a>
{% endif %}

{% if permissions['Admin\\Report'] b-and 1  %}
<a class="btn btn-primary btn-med pull-right" href="{{ path('_admin_terms_report', {'id':term.id}) }}">Term Report</a>
{% endif %}

{% if permissions['Admin\\CampusTerms'] b-and 4  %}
<a class="btn btn-success btn-med pull-right" href="{{ path('_admin_terms_schedule', {'id':term.id}) }}">Schedule Classes</a>
{% endif %}

{% endblock %}

{% block breadcrumb %}
<li><a href="{{ path('_admin_campuses') }}">Campuses</a></li>
<li><a href="{{ path('_admin_campuses_show', {id: campus.id}) }}">{{campus.name}}</a></li>
<li>Term {{term.id}}</li>
{% endblock %}

{% block content %}

<script>
$(document).ready(function () {
    $('#classes_table').dataTable({
        "pagingType": "full_numbers",
        "scrollX": "false",
    });
});
</script>


<div class="panel-body">
    {% if term.start|date('Y-m-d') == '-0001-11-30' or  term.end |date('Y-m-d') == '-0001-11-30'%}
    {% else %}   
    <h4> Term dates: {{term.start|date('Y-m-d')}} - {{term.end|date('Y-m-d')}} </h4>
    {%endif%}
    <h3>Sections Available for this Term</h3>

    <!-- Table start -->

    <div class="col-lg-12">
        <div class="table-responsive">
            <table id="classes_table" class="table table-hover" cellspacing="0" data-click-to-select="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true">
                <thead>
                    <tr>
                        <th>Class Name</th>
                        <th>Location</th>
                        <th>Teacher</th>
                        <th>Days of Week</th>
                        <th>Time</th>
                        <th>Seats Left</th>
                        <th>Total Seats</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    {% for section in sections %}
                    {% if permissions['Admin\\CampusTerms'] b-and 1  %}
                    <tr onclick="window.document.location='{{ path('_admin_sections_show', {'dept_id': section.class.department.id, 'class_id': section.class.id, 'id': section.id}) }}';" class="click_rows">
                    {% else %}
                    <tr>
                    {% endif %}
                        <td>{{section.class.name}}</td> 
                        <td> {{section.location}} </td>  
                        <td> {{section.teacher}} </td>
                        <td> 
                            {% if section.daysOfWeek == null %}
                            no information
                            {% else %}
                            {% if section.daysOfWeek b-and 1  %}
                            Mon
                            {% endif %}
                            {% if section.daysOfWeek b-and 2  %}
                            Tues
                            {% endif %}

                            {% if section.daysOfWeek b-and 4  %}
                            Wed
                            {% endif %}
                            {% if section.daysOfWeek b-and 8  %}
                            Thurs
                            {% endif %}

                            {% if section.daysOfWeek b-and 16  %}
                            Fri
                            {% endif %}

                            {% if section.daysOfWeek b-and 32  %}
                            Sat
                            {% endif %}

                            {% if section.daysOfWeek b-and 64  %}
                            Sun
                            {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {{section.start|date('H:i')}} - {{section.end|date('H:i')}} 
                        </td>
                        <td>{{ section.maxStudents - section.students|length }}</td>
                        <td>{{ section.maxStudents }}</td>
                        <td>  
                            <div class="btn-group pull-right">
                                {% if permissions['Admin\\CampusTerms'] b-and 1  %}
                                <a href="{{ path('_admin_sections_show', {'dept_id': section.class.department.id, 'class_id': section.class.id, 'id': section.id}) }}" class="btn btn-outline btn-med btn-primary pull-right"><i class="fa fa-eye"></i> Show Section</a> 
                                {% endif %}
                                {% if section.getStudents() is empty %}
                                {% if permissions['Admin\\Sections'] b-and 8 %}      
                                <button type="button" class="btn btn-danger pull-right" style="margin-right:4px;" data-toggle="modal" data-target="#delete_{{section.id}}_modal"><i class="fa fa-trash-o"></i> Delete Section</button>  
                                {% endif %}
                                {% endif %}
                                <!-- Delete Modal Start -->
                                <div class="modal fade" id="delete_{{section.id}}_modal" tabindex="-1" role="dialog" aria-labelledby="delete_section_label" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <p class="modal-title" id="delete_section_label"><strong>Delete Section {{section.id}}?</strong></p>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you would like to delete this section?</p>
                                                <p>Note: There must be no students enrolled to delete this section.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{{ path('_admin_sections_delete', {'dept_id': section.class.department.id, 'class_id': section.class.id, 'id': section.id}) }}"><button type="button" class="btn btn-danger">Delete</button></a>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Delete Modal End -->
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}