{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}Dashboard{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block content %}

    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row" style="text-align: center">
                                    <h5>Quick Links</53>                           
                                </div>
                                <div class="row">

                                    <table class="table table-borderless table-hover">
                                        <tbody>
                                            <tr>
                                                <td>Create New User:</td>
                                                <td><button type="button" class="btn btn-primary btn-xs pull-right"><i class="fa fa-plus"></i></button></td>
                                            </tr>
                                            <tr>
                                                <td>Record a Payment:</td>
                                                <td><button type="button" class="btn btn-default btn-xs pull-right"><i class="fa fa-bank"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-green">
                            <div class="panel-heading" style="height:200px">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <i class="fa fa-graduation-cap fa-4x"></i>
                                        <h3>Prerequisite Exemption Requests</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h4>Requests: </h4>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <h4>0</h4>
                                    </div>
                                </div>
                            </div>
                            <a href="/exemption/index">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    
                </div>
            </div>
            <!-- Admin Logs -->
            <div class="col-lg-8">
                <div id="map-canvas">
                    
                </div>

            </div>
            <!-- End Col 9 -->
        </div>
        <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Admin Logs
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                {% for log in adminLogs %}
                                    <a href="#" class="list-group-item" title="Target ID: {{ log.targetId }}">
                                        {% if log.type == 1 %}
                                            <i class="fa fa-plus-circle fa-fw"></i>
                                        {% elseif log.type == 2 %}
                                            <i class="fa fa-edit fa-fw"></i>
                                        {% elseif log.type == 3 %}
                                            <i class="fa fa-times-circle fa-fw"></i>
                                        {% elseif log.type == 4 %}
                                            <i class="fa fa-random fa-fw"></i>
                                        {% else %}
                                            <i class="fa fa-question fa-fw"></i>
                                        {% endif %}
                                        <b>{{ log.user }}</b>: {{ log.note }}
                                        <span class="pull-right text-muted small"><em>{{ log.created|time_ago_in_words }}</em>
                                        </span>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
    </div>

{% endblock %}