{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    <h1>Administrator Activity Logs</h1>
{% endblock %}

{% block content %}
{% if permissions['Admin\\Settings'] b-and 1  %}
    <div class="table-responsive">
        <table class="table table-hover" data-pagination="true">
            <thead>
                <tr>
                    <th data-field="user">Log Item</th>
                </tr>
            </thead>
            <tbody>
                {% for log in adminLogs %}
                    <tr>
                        <td>
                            <a href="#" class="list-group-item" title="Target ID: {{ log.targetId }}">
                                {% if log.type == 1 %}
                                    <i class="fa fa-plus-circle fa-fw"></i>
                                {% elseif log.type == 2 %}
                                    <i class="fa fa-edit fa-fw"></i>
                                {% elseif log.type == 3 %}
                                    <i class="fa fa-times-circle fa-fw"></i>
                                {% elseif log.type == 4 %}
                                    <i class="fa fa-random fa-fw"></i>
                                {% else %}
                                    <i class="fa fa-question fa-fw"></i>
                                {% endif %}
                                <b>{{ log.user }}</b>: {{ log.note }}
                                <span class="pull-right text-muted small"><em>{{ log.created|time_ago_in_words }}</em>
                                </span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}
