{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    <i class="fa fa-university" style="color: #000;"></i> Campuses
    {% if permissions['Admin\\Campuses'] b-and 2  %}
        <a href="{{ path('_admin_campuses_new') }}" class="btn btn-success btn-med"><i class="fa fa-plus"></i> Create New Campus</a>
    {% endif %}
{% endblock %}
{% block breadcrumb %}
    <li>Campuses</li>
    {% endblock %}

{% block content %}
    {#{% for campus in campuses %}
        <div class="col-sm-6 col-md-3">
            <div class="well tile">
                <h4 align="center">{{campus.name}}<span class="pull-right"></span></h4>
                <p align="center">{{campus.location}}</p>

                <!-- Making div clickable -->
                {% if permissions['Admin\\Campuses'] b-and 1  %}
                    <a href="{{ path('_admin_campuses_show', {'id': campus.id}) }}">
                        <span class="hyperspan"></span></a>
                    {% endif %}
            </div>
        </div>
    {% endfor %}#}
    <div class="col-md-12">
        {% set count = 0 %}
        {% for campus in campuses %}

            {% if count is divisibleby(4) or count==0 %}
                <div class="row">
                {% endif %}
                <div class="col-md-3">
                    {% set count = count + 1 %}
                    <div class="well tile" style="height: 130px;">

                        <h4 align="center" style="color: #000;">{{campus.name}}<span class="pull-right"></span></h4>

                        {#<hr style="border-top: 1px solid #000;">#}
                        {#<script type="text/javascript">
                            $("p.some-area").text(function (index, currentText) {
                                if (currentText.length > 50) {
                                    return currentText.substr(0, 50) + '...';
                                }
                            });
                        </script>#}

                        <p align="center" style="margin-top: 20px;">{{ campus.location|length > 50 ? campus.location|slice(0, 50) ~ '...' : campus.location  }}</p>
                        <!-- Making div clickable -->
                        {% if permissions['Admin\\Campuses'] b-and 1  %}
                            <a href="{{ path('_admin_campuses_show', {'id': campus.id}) }}">
                                <span class="hyperspan"></span></a>
                            {% endif %}
                    </div>
                </div>
                {% if count is divisibleby(4)%}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}



