{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    Add New Campus
{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('_admin_campuses') }}">Campuses</a></li>
    <li>Add Campus</li>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        <br />
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        <p class="help-block">Provide a short campus description.</p>
        {{ form_label(form.location) }}
        {{ form_widget(form.location, {'attr': {'class': 'form-control'}}) }}
        <p class="help-block">Provide campus location.</p>
        {{ form_label(form.phone) }}
        {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
        <p class="help-block">Provide a phone number.</p>
        {{ form_label(form.timezone) }}
        {{ form_widget(form.timezone, {'attr': {'class': 'form-control'}}) }}
        <p class="help-block">Provide the timezone of the campus.</p>
    </div>
    <div class="control-group">
        {{ form_label(form.save) }}
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
        
        <a href="{{ path('_admin_campuses') }}" class="btn btn-default pull-right">Back to All Campuses</a>
    </div>
    {{ form_end(form) }}
{% endblock %}