{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
Gobind Sarvar: {{ campus.name }}

{% if permissions['Admin\\Campuses'] b-and 8  %}
<button type="button" class="btn btn-danger btn-med pull-right" style="margin-top: 8px;" data-toggle="modal" data-target="#delete_campus_modal"><i class="glyphicon glyphicon-trash"></i> Delete Campus</button>
{% endif %}
{% if permissions['Admin\\CampusTerms'] b-and 2  %}
<a href="{{ path('_admin_terms_create', {'id': campus.id}) }}" class="btn btn-success btn-med pull-right" style="margin-top: 8px;"><i class="fa fa-plus"></i> Add a new Term to this campus</a>
{% endif %}
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ path('_admin_campuses') }}">Campuses</a></li>
<li>{{ campus.name }}</li>
{% endblock %}

{% block content %}
<!-- Delete Modal Start -->
<div class="modal fade" id="delete_campus_modal" tabindex="-1" role="dialog" aria-labelledby="delete_modal_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="modal-title" id="delete_campus_modal_label"><strong>Delete {{campus.name}}?</strong></p>
            </div>
            <div class="modal-body">
                {% if not campus.activeTerm %}
                <p>Are you sure you would like to delete this campus?</p>
                {% else %}
                <p>The current school term must be closed before the campus can be deleted </p>
                {% endif %}
            </div>
            <div class="modal-footer">
                {% if not campus.activeTerm %}
                <a href="{{ path('_admin_campuses_delete', {'id': campus.id}) }}"><button type="button" class="btn btn-danger">Delete</button></a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                {% endif %}
                
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal End -->
<!-- Campus information -->
<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4>{{ campus.name }} Information
                        {% if permissions['Admin\\Campuses'] b-and 4  %}
                        <a href="{{ path('_admin_campuses_edit', {'id': campus.id}) }}" class="btn btn-info btn-med pull-right">Edit Information</a></h4>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        <font size='4'><p><strong>Description:</strong> {{ campus.description }}</p></font>
                        <font size='4'><p><strong>Contact Information:</strong> {{ campus.phone }}</p></font>
                        <font size='4'><p><strong>Timezone:</strong> {{ campus.timezone }}</p></font>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="panel panel-green"{# style="color:#000"#}>
                    <div class="panel-heading"  style="height: 100%;">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ pendingRegisterations }}</div>
                                <h3 align="left">New Registration Requests</h3>

                            </div>
                        </div>
                    </div>
                    <a href="{{ path('_admin_users') }}">
                        <span class="hyperspan"></span></a>
                    </a>
                </div>
            </div>

            <!-- Testing requests -->
            <div class="col-lg-3 col-md-4">

                <div class="panel panel-primary"{# style="color:#000"#}>
                    <div class="panel-heading"  style="height: 100%;">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-check-square fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ enrollmentRequests }}</div>
                                <h3 align="left">Prereq Exemption Requests</h3>              </div>
                            </div>
                        </div>

                        <a href="{{ path('_exemption_request_index_campus', {'campus_id': campus.id}) }}">
                            <span class="hyperspan"></span></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <!-- Main content: current term -->
        <div class="col-lg-12">
            <!-- Main content: Terms -->
            {% if openTerms is defined %}
            <h3>Active Terms
            {% if permissions['Admin\\CampusTerms'] b-and 16  %}
                {% if campus.enrollmentTerm != null %}
                <a href="#" class="btn btn-med btn-warning pull-right" style="margin-right: 15px;" data-toggle="modal" data-target="#close_enrollment_modal"><i class="fa fa-times"></i> Close Enrollment</a>
                {% endif %}
            {% endif %}
            </h3>
            <table class="table table-hover">
                <tbody>
                    {% for term in openTerms %}
                    <tr class="click_rows">
                        <td onclick="window.document.location='{{ path('_admin_terms_show', {'id':term.id}) }}';">
                            Term {{term.id}} : {{term.name}}
                            {% if campus.activeTerm == term %}<span class="badge progress-bar-success">Active Term</span>{% endif %}
                            {% if campus.enrollmentTerm == term %}<span class="badge progress-bar-warning">Enrollment Term</span>{% endif %}
                        </td>
                        <td>
                            {% if permissions['Admin\\CampusTerms'] b-and 16  %}
                            <a href="#" class="btn btn-sm btn-danger pull-right" style="margin-left: 10px;" data-toggle="modal" data-target="#close_term_modal"><i class="fa fa-times"></i> Close Term</a>
                            
                            {% if campus.enrollmentTerm != term %}
                                <a href="{{ path('_admin_terms_set_enrollment', {'id':term.id}) }}"class="btn btn-primary btn-sm pull-right" style="margin-left: 10px;"><i class="fa fa-check"></i> Set as Enrollment Term</a>
                            {% endif %}
                            
                            {% if campus.activeTerm != term %}
                                <a href="{{ path('_admin_terms_set_active', {'id':term.id}) }}"class="btn btn-success btn-sm pull-right"><i class="fa fa-check"></i> Set as Active Term</a>
                            {% endif %}
                            
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

            {% if inactiveTerms is defined %}
            <h3>Previous Terms</h3>
            <table class="table table-hover">
                <tbody>
                    {% for term in inactiveTerms %}
                    <tr onclick="window.document.location='{{ path('_admin_terms_show', {'id':term.id}) }}';" class="click_rows">
                        <td>
                            Term {{term.id}} : {{term.name}} 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>

        <!-- End of page content -->
        <!-- Close Enrollment Modal Start -->
        <div class="modal fade" id="close_enrollment_modal" tabindex="-1" role="dialog" aria-labelledby="close_enrollment_modal_label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p class="modal-title" id="close_enrollment_modal_label"><strong>Close Enrollment</strong></p>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you would like to close enrollment?</p>
                    </div>
                    <div class="modal-footer">
                        {% if campus.activeTerm %}
                        <a href="{{ path('_admin_terms_close_enrollment', {'id':campus.activeTerm.id}) }}"><button type="button" class="btn btn-danger">Close</button></a>
                        {% endif %}
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Close Enrollment Modal End -->
        <!-- Close Term Modal Start -->
        <div class="modal fade" id="close_term_modal" tabindex="-1" role="dialog" aria-labelledby="close_term_modal_label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p class="modal-title" id="close_term_modal_label"><strong>Close Term</strong></p>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you would like to close the term?</p>
                    </div>
                    <div class="modal-footer">
                        {% if campus.activeTerm %}
                        <a href="{{ path ('_admin_terms_close_term', {'id':campus.activeTerm.id}) }}"><button type="button" class="btn btn-primary">Close</button></a>
                        {% endif %}
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Close Term Modal End -->
        {% endblock %}