{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
Edit Payment Card #{{ payment.id }}
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('_admin_payments') }}">Financial Summary</a></li>
<li>Edit Payment Card #{{ payment.id }}</li>
{% endblock %}

{% block content %}
<div class="col-lg-6">
    {{ form_start(form) }}

    <table class="table borderless">
        <tr>
            <td colspan="2">
                {{ form_label(form.amount) }}
                {{ form_widget(form.amount, {'attr': {'class': 'form-control'}}) }}
            </td>

        </tr>

        <tr>
            <td colspan="2">
                {{ form_label(form.paymentType) }}
                {{ form_widget(form.paymentType, { 'empty_value': 'Choose a payment Type' }) }}
            </td>

        </tr>
        <tr>
            <td colspan="2">
                {{ form_label(form.receiptId) }}
                {{ form_widget(form.receiptId, {'attr': {'class': 'form-control'}}) }}
            </td>
        </tr>

        <tr>
            <td colspan="2">
                {{ form_label(form.note) }}
                {{ form_widget(form.note, {'attr': {'class': 'form-control', 'rows': '6'}}) }}
            </td>
        </tr>

        <tr>
            <td>
                <label class="required">Users</label>

                <div id="usersList">Use the search form to add new users to this payment
                    {% for user in payment.users %}
                    <div><strong> User # {{user.id}} : {{user.firstName}} {{user.lastName}} </strong><input type="hidden" name="users[]" value={{user.id}} /><button type="button" class="btn btn-xs" style="margin-left:10px" onClick="$(this).closest('div').remove();">X</button><br></div>
                    {% endfor %}
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <label class="required">Add Users to Payment</label>
                <div class="input-group custom-search-form" >
                    <input type="search" class="form-control" id="searchParam" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="searchUser" >
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>

                <script>
                //prevent submission of form with enter. Need this
                //because otherwise hitting enter for search submits
                //payment form
                $(document).ready(function() {
                  $(window).keydown(function(event){
                    if(event.keyCode == 13) {
                      event.preventDefault();

                      return false;
                  }
              });
              });
                </script>

                <script>
                function CheckLength(name) {
                    var search = document.getElementById(name).value;
                    if (search.length < 3){ 
                        alert('search should have miniumum 3 chars');
                        return false;
                    }
                    return true;
                }
                </script>

                <script>
                $("#searchUser").click(function(e)
                {
                    if (CheckLength('searchParam')) {

                        var $table = $('#userTable');
                        $table.bootstrapTable('showLoading');

                        $table.show();

                        var value = $("#searchParam").val();
                        jQuery.getJSON("{{ path('_ajax') }}?t=searchUser&d=" + value, function (jsonData) {
                            $table.bootstrapTable('destroy');
                            $table.bootstrapTable({
                                data: jsonData
                            });
                        });
                    }
                    
                });

                function addUser(caller)
                {
                    if ($("#usersList").text() == "No users selected yet...")
                        $("#usersList").text("");

                    var id = $(caller).attr("data-id");
                    $("#usersList").append('<div><strong>User #' + id + '</strong><input type="hidden" name="users[]" value="' + id + '" /><button type="button" class="btn btn-xs" style="margin-left:10px" onClick="$(this).closest(\'div\').remove();">X</button><br></div>');

                    $(caller).attr("disabled", true);
                    $(caller).text("Added!");
                }

                function addFormatter(value) {
                    return '<button class="btn btn-primary" type="button" onClick="addUser(this)"; id="addButton" data-id="'+ value + '">Add User To Payment</a>';
                }
                </script>
                <br>
                <table id="userTable" class="table" data-classes="table" style="display:none;">
                    <thead>
                        <tr>
                            <th data-field="id" data-sortable="true">User ID</th>
                            <th data-field="lname" data-sortable="true">Last Name</th>
                            <th data-field="fname" data-sortable="true">First Name</th>
                            <th data-field="studentid" data-sortable="true">Student ID</th>
                            <th data-field="address">Address</th>
                            <th data-field="add" data-formatter="addFormatter">Add User to Payment</th>
                        </tr>
                    </thead>
                </table>
            </td>
        </tr>
    </table>
    <div class="control-group">
        <div class="controls">
            {{ form_label(form.save) }}
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
            <a href="{{ path('_admin_payments') }}" class="btn btn-danger pull-right">Cancel</a>
        </div>
    </div>

    {{ form_end(form) }}

</div>
{% endblock %}