{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    <i class="fa fa-money" style="color: #000;"></i>  Financial Summary
    {% if permissions['Admin\\Payments'] b-and 2  %}
        <a class="btn btn-success btn-med" href="{{ path('_admin_payments_new_multiuser') }}">+ Record new Payment</a>
    {% endif %}
{% endblock %}


{% block breadcrumb %}
    <li>Financial Summary</li>
    {% endblock %}


{% block content %}

    <script>
        $(document).ready(function () {
            $('#payment_table').dataTable({
                "pagingType": "full_numbers",
                "scrollX": "false",
            });
        });
    </script>

    <!-- Table start -->

    <div class="col-lg-12">
        <div class="table-responsive">
            <table id="payment_table" class="table table-hover" cellspacing="0" data-click-to-select="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true">
                <thead>
                    <tr>
                        <th data-field="pmt-id">Card #</th>
                        <th data-field="fname">Name</th>
                        <th data-field="date-paid">Date Paid</th>
                        <th data-field="pmt-id">Receipt ID</th>
                        <th data-field="amt-paid">Amount</th>
                        <th data-field="method">Method</th>
                        <th data-field="btns"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in payments %}
                        {# Clickable user rows if permission level is enough #}
                        {% if permissions['Admin\\Payments'] b-and 1  %}
                            <tr onclick="window.document.location = '{{ path('_admin_payments_show', {'id': payment.id}) }}';" class="click_rows">
                            {% else %}
                            <tr>
                            {% endif %}
                            <!--  <td class="make-switch toggle-state-switch"><input type="checkbox" class="check" id="checkRow"/></td> -->
                            <td class="col-sm-1">{{payment.id}}</td>
                            <td class="col-sm-2">
                                {% for user in payment.users %}
                                    {{user.firstName}} {{user.lastName}}
                                    {% if loop.last == false %}
                                        +
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="col-sm-1">{{payment.created|date('Y-m-d') }}</td>
                            <td class="col-md-2">{{payment.receiptId}}</td>
                            <td class="col-sm-1"><strong>{{payment.amount}}</strong></td>
                            <td class="col-sm-1"><strong>{{payment.paymentType}}</strong></td>
                            <td class="col-sm-2">
                                <div class="btn-group pull-right">
                                    {% if permissions['Admin\\Payments'] b-and 4  %}
                                        <a href="{{ path('_admin_payments_edit', {'id': payment.id}) }}"class="btn btn-danger btn-med btn-outline"><i class="fa fa-edit"></i> Edit</a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
