{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    Payment #{{ payment.id }}
{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('_admin_payments') }}">Financial Summary</a></li>
    <li>Payment #{{ payment.id }}</li>
    {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Payment Card</strong>
                </div>

                <div class="panel-body">

                    <!-- table begins -->
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td><strong>Payment number</strong></td>
                                    <td>{{ payment.id }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Name</strong></td>
                                    <td>
                                        {% for user in payment.users %}
                                            {{ user.firstName }} {{ user.lastName }}
                                            {% if loop.last == false %}
                                                +
                                            {% endif %}				
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Date paid</strong></td>
                                    <td>{{ payment.created|date('Y-m-d') }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Receipt ID</strong></td>
                                    <td>{{ payment.receiptId }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Amount paid</strong></td>
                                    <td>&#36;{{ payment.amount }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Payment Type</strong></td>
                                    <td>{{ payment.paymentType }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Note</strong></td>
                                    <td>{{ payment.note }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /Table ends -->

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% if permissions['Admin\\Payments'] b-and 4  %}
            <div class="col-md-4"><a href="{{ path('_admin_payments_edit', {'id': payment.id}) }}" class="btn btn-warning pull-left">Edit Payment</a></div>
        {% endif %}
        <div class="col-md-4"><a href="{{ path('_admin_payments') }}" class="btn btn-primary pull-right">Back to Financial Summary</a></div>
    </div>


{% endblock %}