      {% extends 'AppBundle:Base:base.html.twig' %}
      {% block header %}
    
{% endblock %}
      {% block breadcrumb_all %}
          {% endblock %}
      {% block content %}
          {% for section in term.getSections() %}
              {% set term_report = term_reports[section.getId()] %}
<table class="table table-bordered" style="text-align: center"> 
    <tr>
        <td colspan="6" style="text-align: center" bgcolor="#FFF0E0"><b>{{section.getClass().getName()}}, section {{section.getId()}} : Class Report Card</b></br>
            <b>Teacher</b> : {{section.getTeacher()}}  	&#9830;  <b>Duration</b> : {{section.start|date('H:i')}} ~ {{section.end|date('H:i')}} /  
            {% if section.daysOfWeek == null %}
                                                   n/a 
                                                {% else %}
                                                    {% if section.daysOfWeek b-and 1  %}
                                                        Mon
                                                    {% endif %}
                                                    {% if section.daysOfWeek b-and 2  %}
                                                        Tues
                                                    {% endif %}

                                                    {% if section.daysOfWeek b-and 4  %}
                                                        Wed
                                                    {% endif %}
                                                    {% if section.daysOfWeek b-and 8  %}
                                                        Thurs
                                                    {% endif %}

                                                    {% if section.daysOfWeek b-and 16  %}
                                                        Fri
                                                    {% endif %}

                                                    {% if section.daysOfWeek b-and 32  %}
                                                        Sat
                                                    {% endif %}

                                                    {% if section.daysOfWeek b-and 64  %}
                                                        Sun
                                                    {% endif %}
                                                {% endif %}  </td>
    </tr>
    <tr>
        <th  rowspan="2" style="text-align: center" bgcolor="#FFFAF5">Student Name</th>
        <th  rowspan="2" style="text-align: center" bgcolor="#FFFAF5">Grade</th>
        <th colspan="4" style="text-align: center" bgcolor="#FFFAF5">Attendance</th>
    </tr>
    <tr>
        <td style="text-align: center" bgcolor="#FFFAF5">Present</td>
        <td style="text-align: center" bgcolor="#FFFAF5">Late</td>
        <td style="text-align: center" bgcolor="#FFFAF5">Absent</td>
        <td style="text-align: center" bgcolor="#FFFAF5">Rate</td>
        
    </tr>
    {% set average_rate = 0 %}
    {% set studentReportCard = term_report['studentReportCard'] %}
    {% for student in term_report['students'] %}
        {% set reportCard = studentReportCard[student.id] %}
        {% set percentage = reportCard["percentage"]|round(1, 'ceil') %}
        {% if reportCard["attendancesCount"] == 0 %}
        {% set attendance_rate = 0 %}    
        {% else %}
        {% set attendance_rate = ((reportCard["presentCount"] + reportCard["lateCount"]) / reportCard["attendancesCount"]  * 100) |round(1, 'ceil')%}
        {% endif %}
        {% set average_rate = average_rate + attendance_rate %}
        
        <tr>
           <td style="text-align: center">{{student.firstName}} {{student.lastName}} </td>
           <td style="text-align: center">{{reportCard["percentage"] |round(1, 'ceil') }}  % </td>
           <td style="text-align: center">{{reportCard["presentCount"]}}</td>
           <td style="text-align: center">{{reportCard["lateCount"]}}</td>
           <td style="text-align: center">{{reportCard["absentCount"]}}</td>
           <td style="text-align: center"> {{ attendance_rate }} % </td>
        </tr>
        
    {% endfor %}
    <tr>
        <th  rowspan="1" style="text-align: center">Class Average Grade</th>
        {% if term_report['students']|length > 0 %}
        <th  style="text-align: center"> {{ (term_report['overallMark'] / term_report['students']|length) |round(1, 'ceil')}} % </th>
        {% else %}
        <th style="text-align: center"> n/a </th>
        {% endif %}
        <th colspan="3" style="text-align: center">Class Average Attendance</th>
        {% if term_report['students']|length > 0 %}
        <th style="text-align: center">{{ (average_rate / term_report['students']|length) |round(1, 'ceil') }} % </th>
    {% else %}
    <th style="text-align: center"> n/a </th>
        {% endif %}
        </tr>

                    
                </table>    
        {% endfor %}
{% endblock %}