{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    <i class="fa fa-graduation-cap" style="color: #000;"></i> Departments
    {% if permissions['Admin\\Departments'] b-and 2  %}
        <a href="{{ path('_admin_departments_new') }}" class="btn btn-success btn-med"><i class="fa fa-plus"></i> Create New Department</a>
    {% endif %}
    {% if permissions['Teacher\\Documents'] b-and 1  %}
        <a href="{{ path('_documents_list') }}" class="btn btn-primary btn-med"><i class="fa fa-eye"></i> View Class Materials</a>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    <li>Departments</li>
    {% endblock %}

{% block content %}
    <div class="col-md-12">
        {% set count = 0 %}
        {% for department in departments %}

            {% if count is divisibleby(4) or count==0 %}
                <div class="row">
                {% endif %}
                <div class="col-md-3">
                    {% set count = count + 1 %}
                    <div class="well tile" style="height: 150px;">
                        <a href="{{ path('_admin_departments_show', {'id': department.id}) }}">
                            <h4 align="center" style="color: #000;">{{department.name}}<span class="pull-right"></span></h4>
                        </a>
                        <hr style="border-top: 1px solid #000;">
                        {#<script type="text/javascript">
                            $("p.some-area").text(function (index, currentText) {
                                if (currentText.length > 50) {
                                    return currentText.substr(0, 50) + '...';
                                }
                            });
                        </script>#}

                        <p align="center" style="margin-top: 20px;">{{ department.description|length > 50 ? department.description|slice(0, 50) ~ '...' : department.description  }}</p>
                        <!-- Making div clickable -->
                        <a href="{{ path('_admin_departments_show', {'id': department.id}) }}">
                            <span class="hyperspan"></span></a>
                    </div>
                </div>
                {% if count is divisibleby(4)%}
                </div>
                {% endif %}
        {% endfor %}
    </div>
{% endblock %}
