{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    Edit {{department.getName}}
{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('_admin_departments') }}">Departments</a></li>
    <li>Edit Department</li>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        <br />
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        <p class="help-block">Provide a short department description.</p>
    </div>
    <div class="control-group">
        {{ form_label(form.save) }}
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
        <a href="{{ path('_admin_departments_show', {'id': department.id}) }}" class="btn btn-primary pull-right">Back to {{department.name}}</a>

    </div>
    {{ form_end(form) }}
{% endblock %}