{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    Add New Department
{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('_admin_departments') }}">Departments</a></li>
    <li>Add Department</li>
{% endblock %}

{% block content %}
    <div class="col-lg-6">
        {{ form_start(form) }}

        <table class="table borderless">
            <tr>
                <td colspan="2">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </td>      
            </tr>

            <tr>
                <td colspan="2">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': '6'}}) }}
                    <p class="help-block">Provide a short department description.</p>
                </td>
            </tr>

        <tr>
            <td>
                {{ form_label(form.save) }}
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
                <a href="{{ path('_admin_departments') }}" class="btn btn-danger pull-right">Cancel</a>
            </td>
        </tr>
        {{ form_end(form) }}
        </table>
    </div>
{% endblock %}