{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
{{department.name}} 
<p style="font-size: 15px;">{{department.description}}</p>
    {#{% if hasEditPermission %}<a href="{{ path('_admin_departments_edit', {'id': department.id}) }}" class="btn btn-default pull-right" style="margin:13px;">Edit</a>{% endif %}
    {% if hasDeletePermission %}<a href="{{ path('_admin_departments_delete', {'id': department.id}) }}" class="btn btn-default pull-right" style="margin:13px;">Delete Department</a>{% endif %} #}
    {% if permissions['Admin\\Departments'] b-and 2  %}
    <a href="{{ path('_admin_classes_new', {'dept_id': department.id}) }}">
        <button type="button" class="btn btn-med btn-primary"><i class="fa fa-plus"></i> Create New Class</button>
    </a>
    {% endif %}
    {% if permissions['Admin\\Departments'] b-and 4  %}
    <a href="{{ path('_admin_departments_edit', {'id':department.id}) }}" class="btn btn-primary btn-med">Edit Department Info</a>
    {% endif %}
    {% endblock %}

    {% block breadcrumb %}
    <li><a href="{{ path('_admin_departments') }}">Departments</a></li>
    <li>{{department.name}}</li>
    {% endblock %}

    {% block content %}

    <h3>Classes</h3>

      <script>
        $(document).ready(function () {
            $('#classes_table').dataTable({
                "pagingType": "full_numbers",
                "scrollX": "false",
            });
        });
    </script>

    <!-- Table start -->

    <div class="col-lg-12">
        <div class="table-responsive">
            <table id="classes_table" class="table table-hover" cellspacing="0" data-click-to-select="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true">
                <thead>
                    <tr>
                        <th data-field="class_name">Class Name</th>
                        <th data-field="desc">Description</th>
                        <th data-field="prereqs">Prereqs</th>
                        <th data-field="btns"></th>

                    </tr>
                </thead>
                <tbody>
                    {% for class in department.classes %}

                    {# Clickable class rows if permission level is enough #}
                    {% if permissions['Admin\\Departments'] b-and 1  %}
                    <tr onclick="window.document.location='{{ path('_admin_classes_show', {'id': class.id}) }}';" class="click_rows">
                        {% else %}
                        <tr>
                            {% endif %}
                            <td class="col-sm-3">{{class.name}}</td>
                            <td class="col-sm-6">{{class.description}}</td>
                            <td class="col-sm-6">
                                {% for prereq in class.prereqs %}
                                {{prereq.name }}
                                {% if loop.last == false %}
                                +
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <div class="pull-right btn-group">
                                    <a href="{{ path('_admin_classes_edit', {'id': class.id}) }}" class="btn btn-outline btn-med btn-danger"><i class="fa fa-edit"></i> Edit</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
            </table>
        </div>
    </div>

    {% endblock %}