{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    Settings
{% endblock %}

{% block breadcrumb %}
    <li>Settings</li>
{% endblock %}

{% block content %}
	<div class="col-lg-6">
    {{ form_start(form) }}
    {% form_theme form with ['bootstrap_3_layout.html.twig'] %} 
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}



