/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015. 4. 1, 오후 6:23:09
    Author     : Stephanie
*/

.fancy-checkbox input[type="radio"],
.fancy-checkbox .checked {
    
    display: none;
    
}
 
.fancy-checkbox input[type="radio"]:checked ~ .checked
{
    
    display: inline-block;
    color: #89AC10;
    
}
 
.fancy-checkbox input[type="radio"]:checked ~ .unchecked
{
    
    display: none;
    color: #BBBBBB;
    
}

td-p {
	border-style: hidden;
	
}
