{% extends 'AppBundle:Base:base.html.twig' %}


{% block header %}
    {{section.getClass().getName()}}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{path('_teacher_section', {'id': section.id})}}">{{section.getClass().getName()}}</a></li>
    <li>{{assignment.getName()}} Grades</li>
{% endblock %}

{% block content %}
        <div class="col-lg-8">
            <h2>{{assignment.getName()}}</h2>
            <h3>Weight: {{ assignment.getWeight() }}</h3>
            <table class="table table-hover">
                <thead>
                    <th>Name</th>
                    <th>Grade</th>
                </thead>
                
                <tbody>
                    {% for student in section.getStudents() %}
                        <tr>
                            <td>{{student.getFirstName()}} {{student.getLastName()}}</td>
                            {% for grade in student.getGrades() %}
                                {% if grade.getAssignment().getId() == assignment.getId() %}
                                    <td>{{grade.getGrade()}}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-default" href="{{path('_teacher_section', {'id': section.id})}}">Back to Section</a>
        </div>
    
            
{% endblock %}