{% extends 'AppBundle:Base:base.html.twig' %}


{% block header %}
    {{section.getClass().getName()}}: Add Assignment
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{path('_teacher_section', {'id': section.id})}}"> {{section.getClass().getName()}} </a></li>
    <li>Add Assignment</li>
{% endblock %}

    
{% block content %}
    <div class="col-lg-8">
        {% if remainingAssignments is empty %}
            <p>All of the assignments have been used or no assignments have been created yet.</p>
            {% if permissions['Teacher\\GlobalAssignment'] b-and 2  %}
                <p>Do you want to add new assignmment?</p>
                <div class="control-group">
                    <a href="{{ path('_teacher_global_assignment_add', {'id': section.id}) }}" class="btn btn-success" style="margin-right: 10px;">Yes, please!</a>
                    <a href="{{ path('_teacher_section', {'id': section.id}) }}" class="btn btn-default">No, thank you!</a>
                </div>
            {% endif %}
        {% else %}
            <FORM name="assignments" method="POST" action="{{ path('_teacher_assignment_add_post', {'id':section.id}) }}">
            <table class="table table-hover">
                <thead>
                    <th>Assignment Name</th>
                    <th>Description</th>
                    <th>Weight</th>
                    <th>Created By</th>
                    <th>Check to Add</th>
                </thead>
                
                <tbody>
                    {% for assignment in remainingAssignments %}
                        <tr>
                            <td>{{ assignment.getName() }}</td>
                            <td>{{ assignment.getDescription() }}</td>
                            <td>{{ assignment.getWeight() }}</td>
                            <td>{{ assignment.getCreatedBy() }}</td>
                            <td>
                                <input type="checkbox" name="assign_id[]" value="{{assignment.getId()}}">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-default btn-success">Add</button>
            <a href="{{ path('_teacher_section', {'id': section.id}) }}" class="btn btn-default pull-right">Back to Section</a>
        </FORM>
        {% endif %}
    </div>
{% endblock %}