{% extends 'AppBundle:Base:base.html.twig' %}

{% block sidebar_list %}
    <li>
        <a href="{{path('_teacher_dashboard', {'id':user.id}) }}"><i class="fa fa-gears fa-fw"></i> Dashboard</a>
    </li>
{% endblock %}

{% block header %}
    {{section.getClass().getName()}} : Attendance
    {% if permissions['Teacher\\Attendance'] b-and 8  %}
    <a class="btn btn-danger btn-med pull-right" href="{{ path('_teacher_attendance_delete', {'id':section.id, 'aid': attendance.id}) }}" onclick="return confirm('Are you sure you want to delete this attendance?')">Delete</a>
    {% endif %}
{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('_teacher_main') }}">Teacher</a></li>
    <li><a href="{{path('_teacher_section', {'id': section.id})}}"> {{section.getClass().getName()}} </a></li>
    <li><a href="{{ path('_teacher_attendance_detail', {'id':section.id, 'aid': attendance.id}) }}">
            {{attendance.getDate()}} </a> </li>
    <li>Edit</li>
    {% endblock %}
{% block content %}

    <!-- ROW -->
    <div class="row">
        <div class="col-lg-12">

        <h2>{{attendance.getDate()}} </h2>
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-danger" role="alert">
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            </div>
        {% endfor %}

        <FORM name="late" method="POST" action="{{path('_teacher_attendance_edit_post', {'id':section.id, 'aid': attendance.id})}}">     


            <table class="table table-hover" id="attendance_detail_table"  data-pagination="true">
                <thead>
                    <tr>
                        <th data-field="attendance_date">Dates</th>
                    </tr>
                </thead>

                <tbody>
                    {% set newStudents = [] %}

                    {% for student in section.getStudents() %}
                        <tr>
                            
                                {% if array_attendance[student.getId()] is defined %}
                                    {% set status = array_attendance[student.getId()] %}

                                {% else %}
                                    {%set status = "" %}
                                {% endif %}
                                {% if status == "present" %}
                                <td>{{student.getLastName()}}, {{student.getFirstName()}}</td>              
                                    <td>
                                    <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="present" checked>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star checked fa-lg"></i>
                                    Present
                                </label>

                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="true">
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-half  checked fa-lg"></i>
                                    Late
                                </label>
                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="false">
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-o  checked fa-lg"></i>
                                    Absent
                                </label>          
                                {% elseif status == "late" %}
                                <td>{{student.getLastName()}}, {{student.getFirstName()}}</td>              
                                    <td>
                                    <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="present">
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star checked fa-lg"></i>
                                    Present
                                </label>

                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="true" checked >
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-half  checked fa-lg"></i>
                                    Late
                                </label>
                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="false">
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-o  checked fa-lg"></i>
                                    Absent
                                </label>     

                                {% elseif status == "absent" %}
                                <td>{{student.getLastName()}}, {{student.getFirstName()}}</td>              
                                    <td>
                                    <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="present">
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star checked fa-lg"></i>
                                    Present
                                </label>

                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="true">
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-half  checked fa-lg"></i>
                                    Late
                                </label>
                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="false" checked>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-o  checked fa-lg"></i>
                                    Absent
                                </label>     
                                {% else %}
                                    {% set newStudents = newStudents|merge([student]) %}
                                    </form>
                                {% endif %}
                            </td>          
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-success">Save</button>
        </FORM>

        {% if permissions['Teacher\\Attendance'] b-and 2  %} 
        <h2> Students without Attendance </h2>
        <table class="table table-hover" id="attendance_detail_table"  data-pagination="true">
            <thead>
                <tr>
                    <th data-field="attendance_date">Dates</th>
                </tr>
            </thead>
            <tbody>
                {% for newStudent in newStudents %}
                <form name="new" method="POST" action="{{path('_teacher_attendance_edit_newpost', {'id':section.id, 'aid': attendance.id, 'sid': newStudent.id})}}">     
                    <tr>
                        <td>{{newStudent.getLastName()}}, {{newStudent.getFirstName()}}</td>              
                        <td>
                            <label class="fancy-checkbox">
                                    <input type="radio" name="new" value="present">
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star checked fa-lg"></i>
                                    Present
                                </label>

                                <label class="fancy-checkbox">
                                    <input type="radio" name="new" value="true">
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-half  checked fa-lg"></i>
                                    Late
                                </label>
                                <label class="fancy-checkbox">
                                    <input type="radio" name="new" value="false">
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-o  checked fa-lg"></i>
                                    Absent
                                </label>     

                            <button type="submit" class="btn btn-success">Add</button>
                </form>
            {% endfor %}
            </tbody>
        </table>  
            {% endif %}
    </div>
    </div>
{% endblock %}