      {% extends 'AppBundle:Base:base.html.twig' %}
      {% block header %}
        Blank Attendance Sheet
      {% endblock %}
      
      {% block breadcrumb %}
        <li><a href="{{ path('_teacher_section', {id: section.id}) }}">Section</a></li>
        <li>Blank Attendance Sheet</li>
      {% endblock %}
      
      {% block content %}
        {% if section.students|length > 0 %} 
            <table class="table table-bordered" style="text-align: center"> 
                <tr>
                    <td colspan="18" style="text-align: center" bgcolor="#FFF0E0"><b>{{section.term.name}}, {{section.getClass().getName()}} : Attendance Sheet</b></br>
                        <b>Teacher</b> : {{section.getTeacher()}}  	&#9830;  <b>Duration</b> : {{section.term.start|date('y-m-d')}} ~ {{section.term.end|date('y-m-d')}}
                    
                        {% set dotw = [] %}
                    
                        {% if section.daysOfWeek == null %}                                
                        {% else %}
                            {% if section.daysOfWeek b-and 1  %}
                                Mon
                                {% set dotw = dotw|merge(['monday']) %}
                            {% endif %}
                            
                            {% if section.daysOfWeek b-and 2  %}
                                Tues
                                {% set dotw = dotw|merge(['tuesday']) %}
                            {% endif %}

                            {% if section.daysOfWeek b-and 4  %}
                                Wed
                                {% set dotw = dotw|merge(['wednesday']) %}
                            {% endif %}
                            {% if section.daysOfWeek b-and 8  %}
                                Thurs
                                {% set dotw = dotw|merge(['thursday']) %}
                            {% endif %}

                            {% if section.daysOfWeek b-and 16  %}
                                Fri
                                {% set dotw = dotw|merge(['friday']) %}
                            {% endif %}

                            {% if section.daysOfWeek b-and 32  %}
                                Sat
                                {% set dotw = dotw|merge(['saturday']) %}
                            {% endif %}

                            {% if section.daysOfWeek b-and 64  %}
                                Sun
                                {% set dotw = dotw|merge(['sunday']) %}
                            {% endif %}
                        {% endif %} / {{section.start|date('H:i')}} ~ {{section.end|date('H:i')}}
                    </td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <th  rowspan="2" style="text-align: center" bgcolor="#FFFAF5">Student Name</th>
                    <th  rowspan="2" style="text-align: center" bgcolor="#FFFAF5">Student Phone - P/G Phone</th>
                    <th colspan="16" style="text-align: center" bgcolor="#FFFAF5">Attendance</th>
                </tr>
                <tr>
                    {% if dotw|length > 0 %}
                        {% set curIndex = 0 %}
                        {% set dDate = "now" %}
                        {% set found = false %}
                        
                        {% for i in 0..7 %}
                            {% if found == false %}
                                {% if dDate|date("l")|lower in dotw %}
                                    {% set found = true %}
                                    {% for key, dValue in dotw %}
                                        {% if dValue == dDate|date("l")|lower %}
                                            {% set curIndex = key %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% set dDate = dDate|date_modify("+1 day") %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% set dotw = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"] %}
                        {% set dDate = "now" %}
                        {% set curIndex = 0 %}
                    {% endif %}
                    
                    {% for i in 0..10 %}
                        <td style="text-align: center" bgcolor="#FFFAF5">{{ dDate|date("m/d") }}</td>
                        {% set curIndex = (curIndex + 1) % dotw|length %}
                        {% set dDate = dDate|date_modify("next " ~ attribute(dotw, curIndex)) %}
                    {% endfor %}
                </tr>
            
            {% for student in section.students %}                
                <tr>
                   <td style="text-align: center">{{student.firstName}} {{student.lastName}}</td>
                   <td style="text-align: center">{{student.phone}} {% if student.parentNumber != "" %} - {{student.parentNumber }}{% endif %} </td>
                    {% for i in 0..10 %}
                        <td style="text-align: center">P L A</td>
                    {% endfor %}
                </tr>
                
            {% endfor %}
            </table>      
        {% else %}
            <h5> There are no students enrolled in this section. </h5>
        {% endif %}
{% endblock %}