{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    {{section.getClass().getName()}}: Attendance on {{attendance.getDate()}} 
    {% if permissions['Teacher\\Attendance'] b-and 4  %} 
        <a class="btn btn-default btn-xs btn-success" href="{{ path('_teacher_attendance_edit', {'id':section.id, 'aid':attendance.id})}}">Edit</a>
                            {% endif %}
{% endblock %}
{% block breadcrumb %}
    <li><a href="{{path('_teacher_section', {'id': section.id})}}"> {{section.getClass().getName()}} </a></li>
    <li>Attendance on {{attendance.getDate()}} </a> </li>
{% endblock %}

{% block content %}



    <!-- /.col-lg-12 -->
    <!-- ROW -->
    <div class="col-lg-8">

            <table class="table table-hover" id="attendance_detail_table"  data-pagination="true">
                <thead>
                    <tr>
                        <th data-field="attendance_date">Name</th>
                        <th data-field="attendance_status">Status</th>
                    </tr>
                </thead>

                <tbody>
                    {% for student in section.getStudents() %}
                        <tr>
                            <td>{{student.getLastName()}}, {{student.getFirstName()}}</td>     
                            <td>
                                {% set nodata = 'true' %}
                                {% for late in lateUsers %}
                                    {% if late.getId() == student.getId() %}
                                        {% set nodata = 'false' %}
                                        <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="present" disabled>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star checked fa-lg"></i>
                                    Present
                                </label>

                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="true" checked>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-half  checked fa-lg"></i>
                                    Late
                                </label>
                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="false" disabled>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-o  checked fa-lg"></i>
                                    Absent
                                </label>     

                                    {% endif %}
                                {% endfor %}
                                {% for absent in absentUsers %}
                                    {% if absent.getId() == student.getId() %}
                                        {% set nodata = 'false' %}
                                        <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="present" disabled>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star checked fa-lg"></i>
                                    Present
                                </label>

                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="true" disabled>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-half  checked fa-lg"></i>
                                    Late
                                </label>
                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="false" checked>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-o  checked fa-lg"></i>
                                    Absent
                                </label>     
                                    {% endif %}
                                {% endfor %}
                                
                                {% for present in presentUsers %}
                                    {% if present.getId() == student.getId() %}
                                        {% set nodata = 'false' %}
                                    <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="present" checked>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star checked fa-lg"></i>
                                    Present
                                </label>

                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="true" disabled>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-half  checked fa-lg"></i>
                                    Late
                                </label>
                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="false" disabled>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-o  checked fa-lg"></i>
                                    Absent
                                </label>     
                                    {% endif %}
                                {% endfor %}
                                
                                {% if nodata == 'true' %}
                                    <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="present" disabled>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star checked fa-lg"></i>
                                    Present
                                </label>

                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="true" disabled>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-half  checked fa-lg"></i>
                                    Late
                                </label>
                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="false" disabled>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-o  checked fa-lg"></i>
                                    Absent
                                </label>     
                                {% endif %}
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>                         
    </div>

    <div class="col-lg-8">
        <a href="{{ path('_teacher_section', {'id': section.id}) }}" class="btn btn-default">Back to Section</a>
    </div>

{% endblock %}