{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    {{section.getClass().getName()}}: Take Attendance
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{path('_teacher_section', {'id': section.id})}}"> {{section.getClass().getName()}} </a></li>
    <li>Take Attendance</li>
{% endblock %}

{% block content %}

<script type="text/javascript">
$(document).ready(function() {
    var date = new Date();

    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();

    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;

    var today = year + "-" + month + "-" + day;       
    $("#datepicker").attr("value", today);
});
</script>

    <div class="col-lg-8">
        <FORM name="late" method="POST" action="{{path('_teacher_attendance_add_post', {'id':section.id, })}}">     
            
            <h4>Date:
            <input id="datepicker" name="datepicker" type="date" data-date-inline-picker="true" /></h4>
            

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                    {% for student in section.getStudents() %}
                        <tr>
                            <td>{{student.getLastName()}}, {{student.getFirstName()}}</td>

                            <td>
                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="present" checked>
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star checked fa-lg"></i>
                                    Present
                                </label>

                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="true">
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-half  checked fa-lg"></i>
                                    Late
                                </label>
                                <label class="fancy-checkbox">
                                    <input type="radio" name="{{student.getId()}}" value="false">
                                    <i class="fa fa-fw fa-star-o unchecked fa-lg"></i>
                                    <i class="fa fa-fw fa-star-o  checked fa-lg"></i>
                                    Absent
                                </label>     
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
            <button type="submit" class="btn btn-success">SUBMIT</button>
            <a href="{{ path('_teacher_section', {'id': section.id}) }}" class="btn btn-default pull-right">Back to Section</a>
        </FORM>
    </div>

    <div class="col-lg-8">
        
    </div>
{% endblock %}
