{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    {{section.getClass().getName()}}: Take Total Attendance
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{path('_teacher_section', {'id': section.id})}}"> {{section.getClass().getName()}} </a></li>
    <li>Take Total Attendance</li>
{% endblock %}

{% block content %}


    <div class="col-lg-8">
        <FORM name="massiveUpload" method="POST" action="{{path('_teacher_attendance_upload_massive_post', {'id':section.id})}}">     

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        {% for student in section.getStudents() %}
                        <th>{{student.getLastName()}}, {{student.getFirstName()}}</th>
                        {% endfor %}  
                    </tr>
                </thead>

                <tbody>
                    {% for date in datesArray %}
                        <tr>
                        <th><input type="text" name="date[{{date}}]" value="{{date}}"></th>
                     
                     {% for student in section.getStudents() %}
                        <td>
                            <select name= "{{date}}[{{student.id}}]">
  <option value="present" selected>Present</option>
  <option value="late">Late</option>
  <option value="absent">Absent</option>

</select></td>
                    {% endfor %}  
                        </tr>

                    {% endfor %}

                </tbody>
            </table>
            <button type="submit" class="btn btn-success">SUBMIT</button>
            <a href="{{ path('_teacher_section', {'id': section.id}) }}" class="btn btn-default pull-right">Back to Section</a>
        </FORM>
    </div>

    <div class="col-lg-8">
        
    </div>
{% endblock %}
