{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    {{section.getClass().getName()}}: Massive Upload Attendance
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{path('_teacher_section', {'id': section.id})}}"> {{section.getClass().getName()}} </a></li>
    <li>Massive Upload Attendance</li>
{% endblock %}

{% block content %}
    <link href="{{ asset('/bundles/app/css/jquery-ui.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('/bundles/app/css/jquery-ui.structure.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('/bundles/app/css/jquery-ui.theme.css') }}" type="text/css" rel="stylesheet">

    <script type= "text/javascript" src="{{ asset('/bundles/app/js/jquery-1.11.1.js') }}"></script>
    <script type= "text/javascript" src="{{ asset('/bundles/app/js/jquery-2.1.1.js') }}"></script>
    <script type= "text/javascript" src="{{ asset('/bundles/app/js/jquery-ui-1.11.1.js') }}"></script>
    <script type= "text/javascript" src="{{ asset('/bundles/app/js/jquery-ui.multidatespicker.js') }}"></script>
    <script type= "text/javascript" src="{{ asset('/bundles/app/js/jquery-1.11.1.js') }}"></script>
    <script type= "text/javascript" src="{{ asset('/bundles/app/js/jquery-2.1.1.js') }}"></script>
    <script type= "text/javascript" src="{{ asset('/bundles/app/js/jquery-ui-1.11.1.js') }}"></script>
    <script type= "text/javascript" src="{{ asset('/bundles/app/js/jquery-ui.multidatespicker.js') }}"></script>


<script type="text/javascript">
$(document).ready(function() {
    var date = new Date();

    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();

    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;

    var today = year + "-" + month + "-" + day;       
    $("#datepicker_end").attr("value", today);
});
</script>

<script type="text/javascript">
$(document).ready(function() {
    $('#multiDatepicker').multiDatesPicker({
        dateFormat: "yy-mm-dd", 
    });					
});
</script>

    <div class="col-lg-8">
        <FORM name="massive" method="POST" action="{{path('_teacher_attendance_massive_post', {'id':section.id, })}}">     
            <h2>Massive Upload Attendance</h2>
            <h5>Notice: If there are attendance at the date that you choose, it will be overwritten </h5>
            <h4> Select all dates that you want to enter attendance:
            <input id="multiDatepicker" name="multiDatepicker" autofocus/></h4>
{#            data-date-inline-picker="true"#}
            <button type="submit" class="btn btn-success">SUBMIT</button>
            <a href="{{ path('_teacher_section', {'id': section.id}) }}" class="btn btn-default pull-right">Back to Section</a>
        </FORM>
    </div>

    <div class="col-lg-8">
        
    </div>
{% endblock %}
