{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    <div class="row">
        <div class="col-md-12">
            <p align="center"> {% if user.gender == 1 %}
                Mr. {% elseif user.gender == 0 %} Ms.
                {% elseif user.gender == 2 %} Mx.
                    {% endif %} {{user.firstName}} {{user.lastName}}</p>
                    <p align="center" style="font-size: 17px;">Role: {% for role in user.getRoles() %} {{role.name}} {% endfor %}</p>
                </div>
            </div>
            {% endblock %}

                {% block content %}
                    {% if permissions['Teacher\\Main'] b-and 1  %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    {% for section in currentYear %}
                                        <div class="col-md-4">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 align="center"><strong>{{section.getClass().getName()}} Section {{section.id}}</strong></h3>
                                                    <hr style="border-top: 1px solid #000;">
                                                    {#</div>
                                                    <div class="panel-body">#}
                                                    <h4 align="center">{{section.getTerm().getName()}}, {{section.getLocation()}}</h4>
                                                    <p align="center">__________________</p>
                                                    <h4 align="center">Class Time:
                                                        {% if section.daysOfWeek != null %}
                                                            {% if section.daysOfWeek b-and 1  %}
                                                                Mon
                                                            {% endif %}

                                                            {% if section.daysOfWeek b-and 2  %}
                                                                Tues
                                                            {% endif %}

                                                            {% if section.daysOfWeek b-and 4  %}
                                                                Wed
                                                            {% endif %}

                                                            {% if section.daysOfWeek b-and 8  %}
                                                                Thurs
                                                            {% endif %}

                                                            {% if section.daysOfWeek b-and 16  %}
                                                                Fri
                                                            {% endif %}

                                                            {% if section.daysOfWeek b-and 32  %}
                                                                Sat
                                                            {% endif %}

                                                            {% if section.daysOfWeek b-and 64  %}
                                                                Sun
                                                            {% endif %}
                                                            <br>{{section.start|date('H:i')}} ~ {{section.end|date('H:i')}}
                                                        {% endif %}
                                                    </h4>
                                                </div>
                                                <a href="{{path('_teacher_section', {'id': section.id})}}"><span class="hyperspan"></span></a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}