{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    Edit Assignment
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{path('_teacher_section', {'id': section.id})}}">{{section.getClass().getName()}}</a></li>
    <li>Edit Assignment</li>
{% endblock %}

{% block content %}
    <div class="col-lg-6">
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            Changes made to this assignment will affect all teachers of this class on all campuses!
        </div>
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                <br />
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                <p class="help-block">Provide a short assignment description.</p>
                {{ form_label(form.weight) }}
                {{ form_widget(form.weight, {'attr': {'class': 'form-control'}}) }}
                <p class="help-block">Provide weight for the assginment.</p>
            </div>
            <div class="control-group">
                {{ form_label(form.save) }}
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
                <a class="btn btn-default pull-right" href="{{path('_teacher_section', {'id': section.id})}}">Back to Section</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
