{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    Add New Assignment
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{path('_teacher_section', {'id': section.id})}}"> {{section.getClass().getName()}} </a></li>
    <li>Add Global Assignment</li>
{% endblock %}

{% block content %}
    <div class="col-lg-6">
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            This assignment will become available to all teachers of the same class on all campuses!
        </div>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            <br />
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            <p class="help-block">Provide a short assignment description.</p>
            {{ form_label(form.weight) }}
            {{ form_widget(form.weight, {'attr': {'class': 'form-control'}}) }}
            <p class="help-block">Provide weight from 1 to 10 for the assignment. It will be used in grade calculations.</p>
        </div>
        <div class="control-group">
            {{ form_label(form.save) }}
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
            <a href="{{ path('_teacher_section', {'id': section.id}) }}" class="btn btn-default pull-right">Back to Section</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
