{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
{{section.getClass().getName()}}
{% endblock %}

{% block breadcrumb %}
<li><a href="{{path('_teacher_section', {'id': section.id})}}">{{section.getClass().getName()}}</a></li>
{% endblock %}

{% block content %}

<div class="col-lg-8">

    <h2>{{assignment.getName()}}</h2>

    <FORM name="grades" method="POST" action="{{ path('_teacher_grade_edit_post', {'id':section.id, 'assignment_id':assignment.id}) }}">
        <p>
            Weight: <input type="number" name="{{ assignment.getWeight() }}" min="0" max="100" value="{{assignment.getWeight() }}" readonly="true">
        </p>
        <table class="table table-hover">
            <thead>
                <th>Name</th>
                <th>Grade</th>
                <th>Excused?</th>
            </thead>
            <tbody id="gradesTable">

            {% for student in ungradedStudents %}
            <tr style="background-color: #FF4D4D">
                <td>{{student.first_name}} {{student.last_name}}</td>
                <td><input type="number" name="{{ 'new' ~ student.id }}" min="0" max="100" value="0">
                    <td><input type="checkbox" name="{{ 'excusedNew' ~ student.id }}" value=""></td>
                </tr>
            {% endfor %}

                {% for grade in grades %}
                <tr>
                    <td>{{grade.getUser().getFirstName()}} {{grade.getUser().getLastName()}}</td>
                    <td><input type="number" name="{{ grade.getUser().getId() }}" min="0" max="100" value="{{grade.getGrade() }}">
                        {% if grade.getExcused() %}
                        <td><input type="checkbox" name="{{ 'excused' ~ grade.getUser().getId() }}" value="" checked></td>
                        {% else %}
                        <td><input type="checkbox" name="{{ 'excused' ~ grade.getUser().getId() }}" value=""></td>
                        {% endif %}
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <button type="submit" class="btn btn-success">EDIT GRADES</button>
                <a class="btn btn-default pull-right" href="{{path('_teacher_section', {'id': section.id})}}">Back to Section</a>
            </FORM>
        </div>

        {% block myJavascript %}
        <script type="text/javascript">

        var gradesTable = document.getElementById('gradesTable');

        gradesTable.addEventListener('change', function (event) {
            if (event.target.type == 'checkbox') {

                var name = event.target.name;
                var input = [];

                if (name.indexOf('excusedNew') >= 0) {
                    name = name.slice((name.indexOf('excusedNew') + 'excusedNew'.length), name.length);
                    input = document.getElementsByName('new'+name);
                }

                else if (name.indexOf('excused') >= 0) {
                    name = name.slice((name.indexOf('excused') + 'excused'.length), name.length);
                    input = document.getElementsByName(name);
                }

                input[0].readOnly = event.target.checked;

                if (event.target.checked) {
                    input[0].style.backgroundColor = 'LightGrey';
                }
                else {
                    input[0].style.backgroundColor = 'White';
                }

                input[0].value = 0;
            }
        });

        </script>
        {% endblock %}

        {% endblock %}
