{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    {{section.getClass().getName()}}
{% endblock %}
{% block breadcrumb %}
     <li><a href="{{ path('_teacher_main') }}">Teacher</a></li>
     <li><a href="{{path('_teacher_section', {'id': section.id})}}"> {{section.getClass().getName()}} </a></li>
     <li>Add Grade</li>
{% endblock %}

{% block content %}

        <!-- ROW -->
        <div class="col-lg-8">
            <!-- H2 HEADER -->
            <h2>{{assignment.getName()}}</h2>
            <FORM name="grades" method="POST" action="{{ path('_teacher_grade_add_post', {'id':section.id, 'assignment_id':assignment.id}) }}">
                <!-- TABLE -->
                <table class="table table-hover">
                    <!-- TABLE HEADER -->
                    <thread>
                        <th>Name</th>
                        <th>Grade</th>
                        <th>Excused?</th>
                    </thread>
                    <!-- END HEADER -->
                    <!-- TABLE BODY -->
                    <tbody>
                        {% for student in section.getStudents() %}
                            <tr>
                                <td>{{ student.getFirstName() }} {{ student.getLastName() }}</td>
                                <td><input type="number" name="{{ student.getId() }}" min="0" max="100">  </td>
                                <td><input type="checkbox" name="{{ 'excused'~student.getId() }}" value=""></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <!-- END BODY -->
                </table>
                <!-- END TABLE -->
                <button type="submit" class="btn btn-success">ENTER GRADES</button>
            </FORM>

        </div>


{% endblock %}
