{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    {{section.getClass().getName()}}: Class Grades Overview
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{path('_teacher_section', {'id': section.id})}}"> {{section.getClass().getName()}} </a>
    </li>
    <li>Class Grades</li>
{% endblock %}

{% block content %}
    {% if section.getAssignments|length < 1 %}
        <h5> There is no assignment for this class. </h5>
        {% else %}

    <div class="col-lg-12">
        <table class="table table-hover" style="text-align: center">
            <thead>
                <tr>
                    <th style="text-align: center">
                        Name
                    </th>
                    {% for assignment in section.getAssignments %}
                        <th style="text-align: center">
                            {{ assignment.getName() }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            
             <tbody>
                {% for student in section.getStudents %}
                <tr>
                    <td style="text-align: center">{{ student.getFirstName() }} {{student.getLastName() }}
                    </td>
                    
                    {% for assignment in section.getAssignments %}
                        {% if assignment.getGrades() is empty %}
                            <td style="text-align: center">Ungraded!</td> 
                        {% else %}
                            {% for grade in student.getGrades() %}
                                {% if grade.getAssignment().getId() == assignment.getId() %}
                                    <td style="text-align: center">{{grade.getGrade()}}</td>
                                {% endif %}    
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>


        </table>
            {% endif %}
    </div>
{% endblock %}