      {% extends 'AppBundle:Base:base.html.twig' %}
      {% block header %}
    
{% endblock %}
      {% block breadcrumb_all %}
          {% endblock %}
      {% block content %}
          
          {% if students|length > 0 %} 
<table class="table table-bordered" style="text-align: center"> 
    <tr>
        <td colspan="6" style="text-align: center" bgcolor="#FFF0E0"><b>{{section.term.name}}, {{section.getClass().getName()}} : Class Report Card</b></br>
            <b>Teacher</b> : {{section.getTeacher()}}  	&#9830;  <b>Duration</b> : {{section.term.start|date('y-m-d')}} ~ {{section.term.end|date('y-m-d')}}
        
            {% if section.daysOfWeek == null %}
                                                    
                                                {% else %}
                                                    {% if section.daysOfWeek b-and 1  %}
                                                        Mon
                                                    {% endif %}
                                                    {% if section.daysOfWeek b-and 2  %}
                                                        Tues
                                                    {% endif %}

                                                    {% if section.daysOfWeek b-and 4  %}
                                                        Wed
                                                    {% endif %}
                                                    {% if section.daysOfWeek b-and 8  %}
                                                        Thurs
                                                    {% endif %}

                                                    {% if section.daysOfWeek b-and 16  %}
                                                        Fri
                                                    {% endif %}

                                                    {% if section.daysOfWeek b-and 32  %}
                                                        Sat
                                                    {% endif %}

                                                    {% if section.daysOfWeek b-and 64  %}
                                                        Sun
                                                    {% endif %}
                                                {% endif %} / {{section.start|date('H:i')}} ~ {{section.end|date('H:i')}}  </td>
    </tr>

    </tr>
    <tr>
        <th  rowspan="2" style="text-align: center" bgcolor="#FFFAF5">Student Name</th>
        <th  rowspan="2" style="text-align: center" bgcolor="#FFFAF5">Grade</th>
        <th colspan="4" style="text-align: center" bgcolor="#FFFAF5">Attendance</th>
    </tr>
    <tr>
        <td style="text-align: center" bgcolor="#FFFAF5">Present</td>
        <td style="text-align: center" bgcolor="#FFFAF5">Late</td>
        <td style="text-align: center" bgcolor="#FFFAF5">Absent</td>
        <td style="text-align: center" bgcolor="#FFFAF5">Rate</td>
        
    </tr>
    
    {% set average_rate = 0 %}
    
    {% for student in students %}
        {% set reportCard = studentReportCard[student.id] %}
        {% set percentage = reportCard["percentage"]|round(1, 'ceil') %}
        {% if attendancesCount > 0 %}
        {% set attendance_rate = ((reportCard["presentCount"] + reportCard["lateCount"]) / attendancesCount  * 100) |round(1, 'ceil') %}
        {% else %}
         {% set attendance_rate = 0 %}   
        {% endif %}
        {% set average_rate = average_rate + attendance_rate %}
        
        <tr>
           <td style="text-align: center">{{student.firstName}} {{student.lastName}}</td>
           <td style="text-align: center">{{ percentage }} % </td>
           <td style="text-align: center">{{reportCard["presentCount"]}}</td>
           <td style="text-align: center">{{reportCard["lateCount"]}}</td>
           <td style="text-align: center">{{reportCard["absentCount"]}}</td>
           <td> {{attendance_rate}} % </td>
        </tr>
        
    {% endfor %}
    <tr>
        <th  rowspan="1" style="text-align: center">Class Average Grade</th>
        <th  style="text-align: center"> {{overallMark|round(1, 'ceil')}} % </th>
        <th colspan="3" style="text-align: center">Class Average Attendance</b> </th>
        
        <th style="text-align: center">{{(average_rate / students|length)|round(1, 'ceil')}} % </th>
       
        
    </tr>

                    
                </table>      
        {% else %}
            <h5> There are no students enrolled in this section. </h5>
            
            {% endif %}
{% endblock %}