{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
{{section.getClass().getName()}}: Report Card for {{ student.lastName }} {{ student.firstName }}
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ path('_teacher_section', {'id': section.id}) }}">{{section.getClass().getName()}}</a></li>
<li>Student {{ student.id }}</li>
{% endblock %}


{% block content %}
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{section.getClass().getName()}}, section {{section.getId()}} : Class Report Card for student id #{{ student.id }}</strong>
            </div>

            <div class="panel-body">
                <!-- table begins -->
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>Term</strong></td>
                                <td>{{section.term.name}}, {{section.term.start|date('y-m-d')}} ~ {{section.term.end|date('y-m-d')}}</td>
                            </tr>
                            <tr>
                                <td><strong>Teacher</strong></td>
                                <td>{{section.getTeacher()}}</td>
                            </tr>
                            <tr>
                                <td><strong>Student</strong></td>
                                <td>{{ student.lastName }} {{ student.firstName }}</td>
                            </tr>
                            <tr>
                                <td><strong>Attendance</strong></td>
                                <td>
                                    <table class="table">
                                    <tr>
                                        <td style="border-top: none;"><strong>Present</strong></td>
                                        <td style="border-top: none;">{{ presentCount }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Late</strong></td>
                                        <td>{{ lateCount }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Absent</strong></td>
                                        <td>{{ absentCount }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Total Days</strong></td>
                                        <td>{{ attendancesCount }}</td>
                                    </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Attendance rate</strong></td>
                                <td>
                                    {% if attendancesCount > 0 %}
                {% set attendance_rate = (presentCount+lateCount)/attendancesCount * 100 %}
                {{ attendance_rate |round(1, 'ceil')}}&#37;</th>
                                    {% else %}
                    WARNING: The class currently does not have any attendance record.
                    {% endif %}
                                  
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Grade</strong></td>
                                <td>{{percentage |round(1, 'ceil')}}&#37;</td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>
                <!-- /Table ends -->
            </div>
        </div>
    </div>


<!-- buttons block -->
    <div class="col-lg-8">
        <a href="{{ path('_teacher_section', {'id': section.id}) }}" class="btn btn-default">Back to Section</a>
    </div>

{% endblock %}