{% extends 'AppBundle:Base:base.html.twig' %}


{% block header %}
    {{section.getClass().getName()}}
{% endblock %}

{% block breadcrumb %}
    <li> {{section.getClass().getName()}} </li>
    {% endblock %}

{% block content %}
    {# show "fancy" table controls for attendance and students #}
    <script>
        $(document).ready(
                function () {
                    $('table.teachercontrol').dataTable({
                        "pagingType": "scrolling"
                    });
                });
    </script>

    <script>
        $(document).ready(function () {
            $('#usertable').dataTable({
                "pagingType": "full_numbers",
                "scrollX": "false",
            });
        });
    </script>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#info" aria-controls="info" role="tab" data-toggle="tab"><i class="fa fa-info"></i><font size='4'>  Info</font></a></li>
        <li role="presentation"><a href="#students" aria-controls="students" role="tab" data-toggle="tab"><i class="fa fa-users"></i><font size='4'>  Students</font></a></a></li>
        <li role="presentation"><a href="#attendance" aria-controls="attendance" role="tab" data-toggle="tab"><i class="fa fa-check-circle"></i><font size='4'>  Attendance</font></a></a></li>
        <li role="presentation"><a href="#assignments" aria-controls="assignments" role="tab" data-toggle="tab"><i class="fa fa-paper-plane"></i><font size='4'>  Assignments</font></a></a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="info">

            <div class="col-md-8">
                <div class="panel panel-default" style="margin-top: 10px;">
                    <div class="panel-heading">
                        <font size="5"><strong>{{section.class.name}} Information</strong></font>
                        {% if permissions['Teacher\\ReportCard'] b-and 1  %}
                            <a class="btn btn-success btn-med pull-right" href="{{ path('_teacher_reportcard', {'id':section.id})}}"/>Generate Class Report</a>
                        {% endif %}
                    </div>

                    <div class="panel-body">
                        <!-- table begins -->
                        <div class="panel panel-default" style="margin-top: 10px;">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <td><strong>Section ID:</strong></td>
                                            <td>{{ section.id }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong> Class Description</strong></td>
                                            <td>{{section.class.description}} </td>
                                        </tr>
                                        <tr>
                                            <td><strong> Term </strong></td>
                                            <td>{{section.term.name}} , {{section.term.start|date('y-m-d')}} ~ {{section.term.end|date('y-m-d')}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Section Location</strong></td>
                                            <td>{{section.location}} </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Time</strong></td>
                                            <td>{{section.start|date('H:i')}} ~ {{section.end|date('H:i')}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Days</strong></td>
                                            <td>
                                                {% if section.daysOfWeek == null %}
                                                    no information
                                                {% else %}
                                                    {% if section.daysOfWeek b-and 1  %}
                                                        Mon
                                                    {% endif %}
                                                    {% if section.daysOfWeek b-and 2  %}
                                                        Tues
                                                    {% endif %}

                                                    {% if section.daysOfWeek b-and 4  %}
                                                        Wed
                                                    {% endif %}
                                                    {% if section.daysOfWeek b-and 8  %}
                                                        Thurs
                                                    {% endif %}

                                                    {% if section.daysOfWeek b-and 16  %}
                                                        Fri
                                                    {% endif %}

                                                    {% if section.daysOfWeek b-and 32  %}
                                                        Sat
                                                    {% endif %}

                                                    {% if section.daysOfWeek b-and 64  %}
                                                        Sun
                                                    {% endif %}
                                                {% endif %}



                                            </td>
                                        <tr>
                                            <td><strong> Class Size </strong></td>
                                            <td>{{section.students|length}} / {{section.maxStudents}} </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="students">
            {# STUDENTS TABLE #}

            <div class="col-lg-12">
                <h2>Students</h2>

                {# TODO: MAKE EACH STUDENT IN A TABLE CLICKABLE AND SHOW REPORT #}

                <table id="#student_table" class="table teachercontrol table-hover" data-sort-name="last_name" data-sort-order="asc">
                    <thead>
                    <th data-field="last_name" data-sortable="true">Last Name</th>
                    <th data-field="first_name" data-sortable="true">First Name</th>
                    <th data-field="phone_number" data-sortable="true">Phone Number</th>
                    <th data-field="parent_phone" data-sortable="true">Parents Number</th>
                    <th data-field="actions" data-sortable="false"></th>
                    </thead>
                    <tbody>
                        {% for student in students %}

                            <tr>
                                <td>{{ student.lastName }}</td>
                                <td>{{ student.firstName }}</td>
                                <td>{{ student.phone }}</td>
                                <td>{{ student.parentNumber }}</td>
                                <td>
                                    {% if permissions['Teacher\\ReportCard'] b-and 1  %}
                                        <a class="btn btn-success btn-outline btn-med pull-right" href="{{ path('_teacher_section_student', {'id':section.id, 'student_id': student.id}) }}"> Info </a>
                                        <a class="btn btn-success btn-outline btn-med pull-right" href="{{ path('_teacher_reportcard_studentDetail', {'id':section.id, 'student_id': student.id}) }}"/>Student Report</a>
                                    {% endif %}
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="attendance">
            {# ATTENDANCE TABLE #}

            {# TODO: make each row clickable and show details for each day #}
            {# Show the whole section ONLY if teacher has permission #}
            {% if permissions['Teacher\\Attendance'] b-and 1  %}

                <div class="col-lg-12">
                    <h2>Attendance
                        {% if permissions['Teacher\\Attendance'] b-and 2  %}
                            <a class="btn btn-success btn-med pull-right" href="{{ path('_teacher_attendance_blank', {'id':section.id})}}"/>Generate Blank Attendance Sheet</a>
                            <a class="btn btn-success btn-med pull-right" href="{{ path('_teacher_attendance_add', {'id':section.id})}}"/>Take Daily Attendance</a>
                            <a class="btn btn-success btn-med pull-right" href="{{ path('_teacher_attendance_massive', {'id':section.id})}}"/>Massive Attendance Upload</a>
                        {% endif %}
                    </h2>

                    <table id="attendance_table" class="table table-hover teachercontrol" data-sort-name="attendance_date" data-sort-order="asc">     
                        <thead>
                            <tr>
                                <th data-field="attendance_date" data-sortable="true">Dates</th>
                                <th data-field="edit" data-sortable="false"></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for attendance in attendances %}
                                <tr>

                                    <td>
                                        {% if permissions['Teacher\\Attendance'] b-and 1  %} 
                                            <a href="{{ path('_teacher_attendance_detail', {'id':section.id, 'aid': attendance.id}) }}">
                                                {{ attendance.date }}
                                            {% endif %}

                                    </td>
                                    <td>
                                        <div class="btn-group pull-right">
                                            {% if permissions['Teacher\\Attendance'] b-and 1  %} 
                                                <a href="{{ path('_teacher_attendance_detail', {'id':section.id, 'aid': attendance.id}) }}" class="btn btn-outline btn-med btn-success"><i class="fa fa-eye"></i> Details</a>
                                            {% endif %}
                                            {% if permissions['Teacher\\Attendance'] b-and 4  %} 
                                                <a href="{{ path('_teacher_attendance_edit', {'id':section.id, 'aid': attendance.id}) }}" class="btn btn-outline btn-med btn-danger"><i class="fa fa-edit"></i> Edit</a>
                                            {% endif %}
                                        </div>
                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>


        <div role="tabpanel" class="tab-pane" id="assignments">
            <div class="col-md-12">
                <h2>Assignments
                    {% if permissions['Teacher\\Grade'] b-and 1  %}
                        <a href="{{ path('_teacher_grade_detail', {'id': section.id}) }}" class="btn btn-success btn-med">Grades Overview</a>
                    {% endif %}

                    {% if permissions['Teacher\\Assignment'] b-and 2  %}
                        <a href="{{ path('_teacher_assignment_add', {'id': section.id}) }}" class="btn btn-success btn-med"> Add Existing Assignment</a>
                    {% endif %}


                    {% if permissions['Teacher\\GlobalAssignment'] b-and 2  %}
                        <a href="{{ path('_teacher_global_assignment_add', {'id': section.id}) }}" class="btn btn-success btn-med"> Create New Assignment</a>
                    {% endif %}

                    <a href="{{ path ('_documents', {'id': section.class.id}) }}" class="btn btn-success btn-med">Upload Document</a>
                    <a href="{{ path ('_documents_list') }}" class="btn btn-success btn-med">View Documents</a>
                </h2>
                <table class="table table-hover" style="text-align: center">
                    <thead>
                    <th>
                        Assignment Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Created By
                    </th>
                    <th>
                        Weight
                    </th>
                    <th>
                        Grades
                    </th>
                    <th>
                        Edit Globally
                    </th>
                    <th></th>
                    </thead>
                    <tbody>
                        {% for assignment in section.getAssignments() %}
                            <tr>

                                <td>
                                    {% if assignment.getGrades() is empty %}
                                        <strong>Ungraded! </strong>
                                    {% endif %}
                                    {{assignment.getName()}}
                                    {#{% if createdBy[assignment.id] is defined %}
                                        {% if permissions['Teacher\\GlobalAssignment'] b-and 4  %} 
                                            <a href="{{path('_teacher_global_assignment_edit', {'id': section.id, 'aid': assignment.id}) }}" class="btn btn-outline btn-med btn-warning">
                                                <i class="fa fa-edit"></i> Edit Assignment </a>
                                            {% endif %}
                                        {% endif %}#}
                                </td>
                                <td>
                                    {{assignment.getDescription()}}
                                </td>
                                <td>
                                    {{assignment.getCreatedBy()}}
                                </td>
                                <td>
                                    {{assignment.getWeight()}}
                                </td>

                                <td>
                                    <div class="btn-group">
                                        {% if assignment.getGrades() |length > 0 %}
                                            {% if permissions['Teacher\\Grade'] b-and 4  %}
                                                <a href="{{path('_teacher_grade_edit', {'id': section.id, 'assignment_id': assignment.id}) }}" class="btn btn-outline btn-med btn-warning">
                                                    <i class="fa fa-edit"></i> Edit Grades</a>  
                                                {% endif %}
                                            {% else %}
                                                {% if permissions['Teacher\\Grade'] b-and 2  %}
                                                <a href="{{path('_teacher_grade_add', {'id': section.id, 'assignment_id': assignment.id}) }}" class="btn btn-outline btn-med btn-danger">
                                                    <i class="fa fa-edit"></i> Enter Grades</a>  
                                                {% endif %}
                                            {% endif %}
                                            {% if permissions['Teacher\\Grade'] b-and 1  %}
                                            <a href="{{path('_teacher_assignment_detail', {'id': section.id, 'assignment_id': assignment.id}) }}" class="btn btn-outline btn-med btn-default">
                                                <i class="fa fa-eye"></i> View Grades</a>
                                            {% endif %}
                                    </div>
                                </td>
                                <!-- Edit Assignment Globally -->
                                <td> 
                                    <a href="{{path('_teacher_global_assignment_edit', {'id':section.id, 'aid':assignment.id})}}">
                                        <button class="btn btn-outline btn-med btn-default">
                                            Edit Globally
                                        </button>    
                                    </a>
                                </td>
                                <td>
                                    <div class="pull-right">

                                        <button class="btn btn-outline btn-med btn-danger" data-toggle="modal" data-target="#modal_{{assignment.id}}">
                                            <i class="fa fa-times"></i> Remove Assignment
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="modal_{{assignment.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-{{assignment.id}}-label">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Remove {{assignment.getName()}}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you would like to remove {{assignment.getName()}} from this section?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <a href="{{path('_teacher_assignment_remove', {'section_id':section.id, 'assignment_id':assignment.id})}}">
                                                            <button type="button" class="btn btn-danger">Remove</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}




