{# empty Twig template #}
{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    User Card #{{ user.id }}

{% endblock %}



{% block breadcrumb %}
    <li> {{section.getClass().getName()}} </li>
    <li>User Card #{{ user.id }}</li>
    {% endblock %}

{% block content %}
    
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>User Card</strong>
            </div>

            <div class="panel-body">
                <!-- table begins -->
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td><strong>ID:</strong></td>
                                <td>{{ user.id }}</td>
                            </tr>
                            <tr>
                                <td><strong>Name</strong></td>
                                <td>{{ user.firstName }} {{ user.lastName }}</td>
                            </tr>
                            <tr>
                                <td><strong>E-mail</strong></td>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td><strong>Gender</strong></td>
                                <td>
                                    {% if user.gender == 1 %}
                                        Male
                                    {% else %}
                                        Female
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Date of birth</strong></td>
                                <td>{{ user.birthDate|date('Y-m-d') }}</td>
                            </tr>
                            <tr>
                                <td><strong>Address</strong></td>
                                <td>{{ user.homeAddress }}</td>
                            </tr>
                            <tr>
                                <td><strong>Phone</strong></td>
                                <td>{{ user.phone }}</td>
                            </tr>
                            <tr>
                                <td><strong>Emergency Contact</strong></td>
                                <td>{{ user.emergencyName }} , {{ user.emergencyContact }}</td>
                            </tr>
                            <tr>
                                <td><strong>Campus</strong></td>
                                <td>
                                    {{ user.getCampus() }}
                                </td>
                            </tr>
                            
                            <tr>
                                <td><strong>Prerequisites</strong></td>
                                <td>
                                    {% if user.getPrereqs()|length < 1  %}
                                        None
                                    {% else %}
                                        {% for prereq in user.getPrereqs() %}
                                            {{ prereq.name }}
                                            {% if loop.last == false %}
                                                +
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                            {% if user.getCustomAttributes()|length > 0  %}
                                {% for customAttribute in user.getCustomAttributes() %}
                                    <tr>
                                        <th>
                                            {{ customAttribute.getCustomAttribute().description }}
                                        </th>
                                        <td>
                                            {{ customAttribute.getValue() }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <!-- /Table ends -->
            </div>
        </div>
    </div>


    <!-- buttons block -->
    <div class="row">
        <div class="col-lg-8">
            <a href="{{ path('_teacher_section', {'id':section.id}) }}" class="btn btn-default pull-right">Back to Section</a>
        </div>
    </div>


{% endblock %}








