{% extends 'AppBundle:Base:base.html.twig' %}


{% block content %}


    <div class="col-lg-8">

            <table class="table table-hover">
                <thead>
                    <tr>
                        {% for attendance in attendances %}
                        <th>{{ attendance }}</th>
                        {% endfor %}  
                    </tr>
                </thead>

               
            </table>
            
    </div>

    <div class="col-lg-8">
        
    </div>
{% endblock %}
