{% extends 'AppBundle:Base:base.html.twig' %}

{% block sidebar_list %}
    <li>
        <a href="{{path('_teacher_dashboard', {'id':user.id}) }}"><i class="fa fa-gears fa-fw"></i> Dashboard</a>
    </li>
{% endblock %}

{% block header %}
    {{section.getClass().getName()}} : Student Report Card
{% endblock %}
{% block breadcrumb %}
                <li><a href="{{ path('_teacher_main') }}">Teacher</a></li>
                <li><a href="{{path('_teacher_section', {'id': section.id})}}"> {{section.getClass().getName()}} </a></li>
                <li>Student Report Card</li>
{% endblock %}


{% block content %}
    <!-- /.col-lg-12 -->
    <!-- ROW -->


        <div class="table-responsive">
       {# <table class="table table-hover" id="attendance_table" data-side-pagination="server" data-toggle ="table" data-page-list="[5, 10, 20, 50, 100, 200]"
               data-pagination="true" data-height="400" data-click-to-select="true" data-search="true" data-select-item-name="table1" data-pagination="true">#}
       <table id="attendance_table" class="table table-hover">     
       <thead>
                <tr>
                    <th data-field="attendance_date" data-sortable="true">Last Name</th>
                    <th data-field="attendance_date" data-sortable="true">First Name</th>
                    <th data-field="edit"></th>
                </tr>
            </thead>

            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student.lastName }}</td>
                        <td>{{ student.firstName }}</td>    
                        <td>
                            <div class="btn-group pull-right">
                                <a href="{{ path('_teacher_reportcard_studentDetail', {'id':section.id, 'student_id': student.id}) }}" class="btn btn-outline btn-xs btn-success"><i class="fa file-text-o"></i> Generate Report Card </a>
                                
                            </div>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>                         
    </div>
</div>


{% endblock %}
