{% extends 'AppBundle:Base:base.html.twig' %}


{% block header %}
    {{section.getClass().getName()}} : Attendance
    {% if permissions['Teacher\\Attendance'] b-and 2  %} 
        <a href="{{ path('_teacher_attendance_add', {'id':section.id})}}"><button type="button" class="btn btn-default">
            Take Attendance</button></a>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('_teacher_main') }}">Teacher</a></li>
    <li><a href="{{path('_teacher_section', {'id': section.id})}}"> {{section.getClass().getName()}} </a></li>
    <li>Attendance</li>
{% endblock %}


{% block content %}
    <script>
        $(document).ready(function () {
            $('#attendance_table').dataTable({
                "pagingType": "scrolling"
            });
        });
    </script>

        <div class="table-responsive">
            <table id="attendance_table" class="table table-striped" data-sort-name="attendance_date" data-sort-order="asc">     
                <thead>
                    <tr>
                        <th data-field="attendance_date" data-sortable="true">Dates</th>
                        <th data-field="edit"></th>
                    </tr>
                </thead>

                <tbody>
                    {% for attendance in attendances %}
                        <tr>
                            
                            <td>
                                {% if permissions['Teacher\\Attendance'] b-and 1  %} 
                                <a href="{{ path('_teacher_attendance_detail', {'id':section.id, 'aid': attendance.id}) }}">
                                    {{ attendance.date }}
                                    {% endif %}
                                    
                            </td>
                            <td>
                                <div class="btn-group pull-right">
                                    {% if permissions['Teacher\\Attendance'] b-and 1  %} 
                                    <a href="{{ path('_teacher_attendance_detail', {'id':section.id, 'aid': attendance.id}) }}" class="btn btn-outline btn-xs btn-success"><i class="fa fa-eye"></i> Details</a>
                                    {% endif %}
                                    {% if permissions['Teacher\\Attendance'] b-and 4  %} 
                                    <a href="{{ path('_teacher_attendance_edit', {'id':section.id, 'aid': attendance.id}) }}" class="btn btn-outline btn-xs btn-danger"><i class="fa fa-edit"></i> Edit</a>
                                    {% endif %}
                                    </div>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>                         
        </div>
   


{% endblock %}
