{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    Set Permissions for Group: {{role.name}}
{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('_admin_permission_group') }}">Permission Groups</a></li>
    <li>{{ role.name }}</li>
{% endblock %}

{% block content %}
<div class="col-lg-8">
    <form name="permission" method="POST" action="{{path('_admin_permission_group_permission_post', {'id':role.id, })}}">    
    <table class="table table-hover" style="text-align: center"> 
        <tr>
            <th rowspan="2" style="text-align: center" bgcolor="#E9F3D9">Function</th>
            <th  colspan="6" style="text-align: center" bgcolor="#E9F3D9">Actions</th>

        </tr>
        <tr>
            <td style="text-align: center" bgcolor="#FFFAF5">view</td>
            <td style="text-align: center" bgcolor="#FFFAF5">create</td>
            <td style="text-align: center" bgcolor="#FFFAF5">edit</td>
            <td style="text-align: center" bgcolor="#FFFAF5">delete</td>
            <td style="text-align: center" bgcolor="#FFFAF5">other</td>
            <td style="text-align: center" bgcolor="#FFFAF5">super</td>
        </tr> 

            {% for controller in controllers %}

                <tr>
                    <td>{{controller}}</td>
                    {% if currentPermissions[controller] is defined %}
                        {% set flag = currentPermissions[controller] %}

                        {% if flag b-and 1  %}
                            <td><input type="checkbox" name={{controller ~ "view"}} checked></td>
                            {% else %}
                            <td><input type="checkbox" name={{controller ~ "view"}}></td>
                            {% endif %}

                        {% if flag b-and 2  %}
                            <td><input type="checkbox" name={{controller ~ "create"}} checked></td>
                            {% else %}
                            <td><input type="checkbox" name={{controller ~ "create"}}></td>
                            {% endif %}

                        {% if flag b-and 4  %}
                            <td><input type="checkbox" name={{controller ~ "edit"}} checked></td>
                            {% else %}
                            <td><input type="checkbox" name={{controller ~ "edit"}}></td>
                            {% endif %}

                        {% if flag b-and 8  %}
                            <td><input type="checkbox" name={{controller ~ "delete"}} checked></td>
                            {% else %}
                            <td><input type="checkbox" name={{controller ~ "delete"}}></td>
                            {% endif %}

                        {% if flag b-and 16  %}
                            <td><input type="checkbox" name={{controller ~ "other"}} checked></td>
                            {% else %}
                            <td><input type="checkbox" name={{controller ~ "other"}}></td>
                            {% endif %}

                        {% if flag b-and 32  %}
                            <td><input type="checkbox" name={{controller ~ "super"}} checked></td>
                            {% else %}
                            <td><input type="checkbox" name={{controller ~ "super"}}></td>
                            {% endif %}

                    {% else %}
                        <td><input type="checkbox" name={{controller ~ "view"}}></td>
                        <td><input type="checkbox" name={{controller ~ "create"}}></td>
                        <td><input type="checkbox" name={{controller ~ "edit"}}></td>
                        <td><input type="checkbox" name={{controller ~ "delete"}}></td>
                        <td><input type="checkbox" name={{controller ~ "other"}}></td>
                        <td><input type="checkbox" name={{controller ~ "super"}}></td>
                        {% endif %}
                </tr>
            {% endfor %}


    </table>    

    <button type="submit" class="btn btn-success">Save</button>
    <a href="{{ path('_admin_permission_group') }}" class="btn btn-danger pull-right">Cancel</a>
</form>

</div>
{% endblock %}


