{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    Create Role
{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('_admin_permission_group') }}">Permission Groups</a></li>
    <li>Create Role</li>
{% endblock %}



{% block content %}
<script language="javascript">
function changeIt()
{
        my_div.innerHTML += "<br> Custom Attribute Name: <input type='text' class='form-control' name='customAttribute[]'>\n\<br> \n\
    Custom Attribute Description: <input type='text' class='form-control' name='customAttributeDesc[]'> <hr>";
}
</script>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        <br/>
        {{ form_label(form.role) }}
        {{ form_widget(form.role, {'attr': {'class': 'form-control'}}) }}
        <p class="help-block">Provide a role name. Eg.ROLE_USER, ROLE_TEACHER </p>

<form name="form" action="post" method="POST" action="{{path('_admin_permission_group_add_post')}}">
<input type="button" value="Add Custom Attribute" onClick="changeIt()">
<div id="my_div"></div>

    </div>
<div class="control-group">
        <center>
        <div class="controls">
              <div>
                {{ form_label(form.apply) }}
                {{ form_widget(form.apply, {'attr': {'class': 'btn btn-success', 'style' : 'width:100%'}}) }}
              </div>
        </div>  
        </center>
        </div> 
               <a href="{{ path('_admin_permission_group') }}" class="btn btn-default pull-right">Back to All See All Permission Group</a>

    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</form>
{% endblock %}