{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    Permission Groups
    {% if permissions['Admin\\PermissionGroup'] b-and 2  %} 
        <a href="{{ path('_admin_permission_group_add') }}"><button type="button" class="btn btn-med btn-primary">Add Permission Group</button></a>
    {% endif %}
{% endblock %}
{% block breadcrumb %}
    <li>Permission Groups</li>
{% endblock %}

{% block content %}
   <script>
        $(document).ready(function () {
            $('#pg_table').dataTable({
                "pagingType": "full_numbers",
                "scrollX": "false",
            });
        });
    </script>

    <!-- Table start -->

    <div class="col-lg-12">
        <div class="table-responsive">
            <table id="pg_table" class="table table-hover" cellspacing="0" data-click-to-select="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true">
                <thead>
            <th>
                Role
            </th>
            <th>
                Name
            </th>
            <th>
                Custom Attributes 
            </th>
           <th>
                Actions
            </th>
        </thead>
        <tbody>
            {% for role in roles %}
            <tr>
                <td>{{role.getRole()}}</td>
                <td>{{role.getName()}}</td>
                <td>
                    {% for attribute in role.getCustomAttributes() %}
                        {{ attribute.name }}
                        {% if loop.last == false %}
                            +
                        {% endif %}
                    {% endfor %}

                </td>
                <td>
                    <div class="pull-right">
                        {% if permissions['Admin\\PermissionGroup'] b-and 4  %} 
                        <a href="{{path('_admin_permission_group_permission', {'id': role.id }) }}" class="btn btn-outline btn-med btn-default btn-table"><i class="fa fa-eye"></i>Set Permissions</a>                    
                        {% endif %}
                        </div>
                    <div class="pull-right">
                        {% if permissions['Admin\\PermissionGroup'] b-and 4  %} 
                        <a href="{{path('_admin_permission_group_edit', {'id': role.id }) }}" class="btn btn-outline btn-med btn-warning btn-table"><i class="fa fa-edit"></i>Edit</a>                    
                   {% endif %}
                        </div>
                        
                        <div class="pull-right">
                        {% if permissions['Admin\\PermissionGroup'] b-and 8  %} 
                        <a href="{{path('_admin_permission_group_delete', {'id': role.id }) }}" class="btn btn-outline btn-med btn-danger btn-table"><i class="fa fa-remove"></i>Delete</a>                    
                   {% endif %}
                        </div>
                        
                </td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    </div>
{% endblock %}



