{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
    Edit Role
{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('_admin_permission_group') }}">Permission Groups</a></li>
    <li>Edit Role</li>
{% endblock %}

{% block content %}
    <script language="javascript">
    function changeIt()
    {
            my_div.innerHTML += "<br> Custom Attribute Name (please enter only letters, digits, numbers. Space not allowed) : <input type='text' class='form-control' name='customAttribute[]'>\n\<br> \n\
        Custom Attribute Description: <input type='text' class='form-control' name='customAttributeDesc[]'> <hr>";
    }
    </script>

    {{ form_start(form) }}
    {% form_theme form with ['bootstrap_3_layout.html.twig'] %} 
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        <br/>
        {{ form_label(form.role) }}
        {{ form_widget(form.role) }}
        <p class="help-block">Provide a role name. Eg.ROLE_USER, ROLE_TEACHER </p>

        <input type="button" value="Add Custom Attribute" onClick="changeIt()">
        <div id="my_div"></div>
        {% for ca in customAttributes %}
            {% set name = ca.id ~ "name" %}
            {% set description = ca.id ~ "description"%}
        <br> Custom Attribute Name: <input type='text' name="{{name}}" value="{{ca.name}}" class="form-control">
        <br> Custom Attribute Description: <input type='text' name="{{description}}" value ="{{ca.description}}"  class="form-control"> <hr>
        {% endfor %}
    </div>
    <div class="control-group">
        <center>
            <div class="controls">
                  <div>
                    {{ form_label(form.apply) }}
                    {{ form_widget(form.apply, {'attr': {'class': 'btn btn-success', 'style' : 'width:100%'}}) }}
                  </div>
            </div>  
        </center>
    </div>

    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}