<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>GSIMS: login</title>

        {% block stylesheets %}
            <!-- Bootstrap Core CSS -->
            <link href="{{asset('bundles/app/bower_components/bootstrap/dist/css/bootstrap.min.css')}}" type="text/css" rel="stylesheet">

            <!-- MetisMenu CSS -->
            <link href="{{asset('bundles/app/bower_components/metisMenu/dist/metisMenu.min.css')}}" type="type/css" rel="stylesheet">

            <!-- Custom Fonts -->
            <link href="{{asset('bundles/app/bower_components/font-awesome/css/font-awesome.min.css')}}" type="text/css" rel="stylesheet" type="text/css">

            <!-- Custom CSS -->
            <link href="{{asset('bundles/app/css/sb-admin-2.css')}}" type="text/css" rel="stylesheet">

            

        {% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <style type="text/css">
            html, body {
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                background-pos: fixed;
                background-repeat: no-repeat;
                min-height: 100%;
            }
        </style>

    </head>

    <body background="{{ asset('bundles/app/img/background.svg') }}">

        <div class="container">
            <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="login-panel panel panel-default panel-transparent" style="margin-top:5%;">
                    <div class="panel-heading">
                        
                        <h3 class="panel-title" style="font-size:20px">
                            <center>
                                GSIMS for Gobind Sarvar School
                            </center>
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% block alerts %}
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="alert alert-success alert-dismissable" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" >×</button>
                            <strong>Success!</strong> {{ flashMessage }}
                        </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Error!</strong> {{ flashMessage }}
                        </div>
                        {% endfor %}
                        {% endblock %}
                        <div style="width:50%; float:left; padding-right:15px; text-align:justify;">
                            <center><img src="{{ asset('bundles/app/img/logo.png') }}" style="width:100%;"></center>
                        </div>
                        <div style="width:50%; float:right; padding-left:15px;">
                            {% if error %}
                                <div>{{ error.message }}</div>
                            {% endif %}
                            <form role="form" action="{{ path('_login_check') }}" method="post">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="E-mail/Student ID" id="username" name="_username" value="{{ last_username }}" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" id="password" name="_password" type="password" value="">
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name="_remember_me" type="checkbox" value="Remember Me">Remember Me
                                        </label>
                                        <a href="{{ path('_login_resetpassword') }}" style="color: #000;" class="pull-right">
                                                Forgot Password?
                                        </a>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" name="submit" class="btn btn-lg btn-success btn-block" value="login">Login</button>
                                    </div>
                                </fieldset>

                            </form>
                            <div class="well" style="">
                                <div style="text-align:center" >
                                    Don't have an account? 
                                    <a href="{{ path('_registration') }}" style="color: #000;">Sign up here</a>
                                </div>
                                <div style="text-align:center" >
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block javascripts %}
            <!-- jQuery -->
            <script src="{{ asset('bundles/app/bower_components/jquery/dist/jquery.min.js') }}"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="{{ asset('bundles/app/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

            <!-- Metis Menu Plugin JavaScript -->
            <script src="{{ asset('bundles/app/bower_components/metisMenu/dist/metisMenu.min.js') }}"></script>

            <!-- Custom Theme JavaScript -->
            <script src="{{ asset('bundles/app/js/sb-admin-2.js') }}"></script>
        {% endblock %}
    </body>

</html>
