<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>PEAR: Reset Password</title>

        {% block stylesheets %}
            <!-- Bootstrap Core CSS -->
            <link href="{{asset('bundles/app/bower_components/bootstrap/dist/css/bootstrap.min.css')}}" type="text/css" rel="stylesheet">

            <!-- MetisMenu CSS -->
            <link href="{{asset('bundles/app/bower_components/metisMenu/dist/metisMenu.min.css')}}" type="type/css" rel="stylesheet">

            <!-- Custom CSS -->
            <link href="{{asset('bundles/app/css/sb-admin-2.css')}}" type="text/css" rel="stylesheet">

            <!-- Custom Fonts -->
            <link href="{{asset('bundles/app/bower_components/font-awesome/css/font-awesome.min.css')}}" type="text/css" rel="stylesheet" type="text/css">

        {% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body background="{{ asset('bundles/app/img/background.svg') }}" style="background-attachment: fixed;">

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Reset Password</h3>
                        </div>
                        <div class="panel-body">
                            {% if error %}
                                {% if error == "NONE" %}
                                <div class="alert alert-success">Instructions have been sent to your email.</div>
                                {% else %}
                                <div class="alert alert-danger">{{ error }}</div>
                                {% endif %}
                            {% endif %}
                            <form role="form" action="{{ path('_login_resetpassword_post') }}" method="post">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="E-mail/Student ID" id="username" name="_username" value="{{ last_username }}" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" name="submit" class="btn btn-lg btn-success btn-block" value="reset">Reset Password</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block javascripts %}
            <!-- jQuery -->
            <script src="{{ asset('bundles/app/bower_components/jquery/dist/jquery.min.js') }}"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="{{ asset('bundles/app/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

            <!-- Metis Menu Plugin JavaScript -->
            <script src="{{ asset('bundles/app/bower_components/metisMenu/dist/metisMenu.min.js') }}"></script>

            <!-- Custom Theme JavaScript -->
            <script src="{{ asset('bundles/app/js/sb-admin-2.js') }}"></script>
        {% endblock %}
    </body>

</html>
