{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
Edit Class: {{ class.name }} <a class="btn btn-xs btn-success" data-toggle="modal" data-target="#project-1">Add Prerequisites</a>
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('_admin_departments') }}">Departments</a></li>
<li><a href="{{ path('_admin_departments_show', {'id': department.id}) }}">{{ department.name }}</a></li>
<li>Edit Class</li>
{% endblock %}

{% block content %}
{{ form_start(form) }}
<div class="form-group">
    {{ form_label(form.name) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    <br />
    {{ form_label(form.description) }}
    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    <p class="help-block">Provide a short class description.</p>
</div>
<div class="control-group">
    {{ form_label(form.save) }}
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
    <a href="{{ path('_admin_departments_show', {'id': department.id}) }}" class="btn btn-default pull-right">Back to {{ department.name }}</a>
</div>


<div class="modal fade" id="project-1" tabindex="-1" role="dialog" aria-labelledby="project-1-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->

            <div class="modal-header">
                <h4 class="modal-title" id="project-1-label">Add Prerequisites</h4>
            </div>

            <!-- /End Modal Header -->

            <!-- Modal Body -->

            <div class="modal-body">
                <div class="modal-body">
                <table data-toggle="table" data-page-size="5" data-show-pagination-switch="true" data-page-list="[5, 10, 20, 100, ALL]" data-pagination="true" data-search="true">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Class Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for class in classes %}
                        <tr>
                            <td>
                                <input type="checkbox" name="class[]" value="{{ class.getId() }}" />
                            </td>
                            <td>{{class.name}}</td>
                            <td>{{class.description}}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            </div>
            <!-- /End Modal Body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <h2>Prereqreisites</h2>
            </tr>
        </thead>
        <tbody>
            {% for prereq in class.getPrereqs() %}
            <tr>
                <td>{{prereq.name}}</td>
                <td><a href="{{ path('_admin_classes_remove_prereq', {'class_id': class.id,'prereq_id': prereq.id }) }}" type="button" class="btn btn-danger pull-right">Remove Prereq</a></i></td>
                
                
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}