{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
{{class.name}}
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('_admin_departments') }}">Classes</a></li>
<li>{{class.name}}</li>
{% endblock %}

{% block content %}
<div class="panel panel-default">

    <div class="panel-heading">
        {% if class is defined %}
        <h4>List of sections</h4>
        {% endif %}
    </div>
    <!-- /.panel-heading -->

    <script>
    $(document).ready(function () {
        $('#sections_table').dataTable({
            "pagingType": "full_numbers",
            "scrollX": "false",
        });
    });
    </script>

    <!-- Table start -->

    <div class="col-lg-12">
        <div class="table-responsive">
            <table id="sections_table" class="table table-hover" cellspacing="0" data-click-to-select="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true">
                <thead>
                    <tr>
                        <th>Campus</th>
                        <th>Term</th>
                        <th>Teacher</th>
                        <th>Days of Week</th>
                        <th>Status</th>
                        <th>Time</th>
                        <th>Seats Left</th>
                        <th>Total Seats</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    {% for section in sections %}
                    <tr>
                        <td> {{section.term.getCampus().getName()}} </td>
                        <td> {{section.term.name}} </td>
                        <td> {{section.teacher}} </td>

                        <td>
                            {% if section.daysOfWeek == null %}
                            no information
                            {% else %}
                            {% if section.daysOfWeek b-and 1  %}
                            Mon
                            {% endif %}

                            {% if section.daysOfWeek b-and 2  %}
                            Tues
                            {% endif %}

                            {% if section.daysOfWeek b-and 4  %}
                            Wed
                            {% endif %}

                            {% if section.daysOfWeek b-and 8  %}
                            Thurs
                            {% endif %}

                            {% if section.daysOfWeek b-and 16  %}
                            Fri
                            {% endif %}

                            {% if section.daysOfWeek b-and 32  %}
                            Sat
                            {% endif %}

                            {% if section.daysOfWeek b-and 64  %}
                            Sun
                            {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if section.term == section.term.campus.getEnrollmentTerm() %}
                            Enrollment Active
                            {% else %}
                            Enrollment Inactive
                            {% endif %}
                        </td>

                        <td>{{section.start|date('H:i')}} - {{section.end|date('H:i')}}</td>

                        <td>{{ section.maxStudents - section.students|length }}</td>

                        <td>{{ section.maxStudents }}</td>

                        <td>
                            <div class="btn-group pull-right">
                                {% if permissions['Admin\\CampusTerms'] b-and 1  %}
                                <a href="{{ path('_admin_sections_show', {'dept_id': section.class.department.id, 'class_id': section.class.id, 'id': section.id}) }}" class="btn btn-outline btn-xs btn-primary"><i class="fa fa-eye"></i> Show Section</a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>

<a href="{{ path('_admin_departments') }}"><button type="button"  style="float: right" class="btn btn-default">Back to All Departments</button></a>
{% endblock %}
