{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
Departments Available this Term
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('_admin_users') }}">Users</a></li>
<li><a href="{{ path('_admin_users_show', {'id': user_id}) }}">User Card #{{ user_id }}</a></li>
<li>Choose Department</li>
{% endblock %}

{% block content %}
<div class="col-md-12">
    {% set count = 0 %}
    {% for department in departments %}

    {% if count is divisibleby(4) or count==0 %}
    <div class="row">
        {% endif %}
        <div class="col-md-3">
            {% set count = count + 1 %}
            <div class="well tile" style="height: 150px;">
                <a href="{{ path('_admin_departments_show', {'id': department.id}) }}">
                    <h4 align="center" style="color: #000;">{{department.name}}</h4>
                </a>
                <hr style="border-top: 1px solid #A1C22D;">
                
                        <p align="center" style="margin-top: 20px;">{{ department.description|length > 50 ? department.description|slice(0, 50) ~ '...' : department.description  }}</p>
                        <!-- Making div clickable -->
                        <a href="{{ path('_admin_enrollment_classes', {'department_id': department.id, 'user_id': user_id,'term_id': term_id}) }}">
                            <span class="hyperspan"></span></a>
                        </div>
                    </div>
                    {% if count is divisibleby(4)%}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endblock %}

