{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
Select Section of {{sections[0].class.name}}
<a href="{{ path('_exemption_request_new', {'class_id': class_id, 'user_id': user_id}) }}" class="btn btn-med btn-warning">Request Prerequisite Exemption</a>
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('_admin_users') }}">Users</a></li>
<li><a href="{{ path('_admin_users_show', {'id': user_id}) }}">User Card #{{ user_id }}</a></li>
<li>Choose Section</li>
{% endblock %}

{% block content %}
{% if sections is defined %}
{% for section in sections %}
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 align="center"><strong>{{section.getClass().getName()}} Section {{section.id}}</strong></h3>

            {#<p align="center">__________________</p>#}
            <hr style="border-top: 1px solid #000;">

            <h4 align="center"><strong>Teacher:</strong> {{section.teacher}}</h4>

            <h4 align="center">{{ section.maxStudents - section.students|length }} Seats Left</h4>
                            {#</div>
                            <div class="panel-body">#}
                                <p align="center">__________________</p>
                                <h4 align="center"><strong>Location:</strong> {{section.getLocation()}}</h4>

                                <h4 align="center"><strong>Class Time:</strong>
                                    {% if section.daysOfWeek != null %}
                                    {% if section.daysOfWeek b-and 1  %}
                                    Mon
                                    {% endif %}

                                    {% if section.daysOfWeek b-and 2  %}
                                    Tues
                                    {% endif %}

                                    {% if section.daysOfWeek b-and 4  %}
                                    Wed
                                    {% endif %}

                                    {% if section.daysOfWeek b-and 8  %}
                                    Thurs
                                    {% endif %}

                                    {% if section.daysOfWeek b-and 16  %}
                                    Fri
                                    {% endif %}

                                    {% if section.daysOfWeek b-and 32  %}
                                    Sat
                                    {% endif %}

                                    {% if section.daysOfWeek b-and 64  %}
                                    Sun
                                    {% endif %}
                                    <br>
                                    <br>{{section.start|date('H:i')}} ~ {{section.end|date('H:i')}}
                                    {% endif %}
                                </h4>
                            </div>
                            <a href="{{ path('_admin_enroll_student', {'section_id': section.id, 'user_id': user_id}) }}">
                              <span class="hyperspan"></span></a>
                          </div>
                      </div>
                      {% endfor %}
                      {% endif %}
                      {% endblock %}