{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
Available Exports
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('_admin_export_show') }}">Export Data</a></li>
<li>Available Exports</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
{% if fileNames is defined %}
{% if permissions['Admin\\ImportExport'] b-and 1  %}
<ol>
{% for filename in fileNames %}
    <li><a href="{{ asset('export/' ~ filename) }}"> Download {{filename}}</a></li>
{% endfor %}
</ol>
{% endif %}
{% endif %}
</div>
</div>
{% endblock %}