{% extends 'AppBundle:Base:base.html.twig' %}

{% block header %}
Select a Table from the Database to Export to CSV
{% if permissions['Admin\\ImportExport'] b-and 1 %}
<a href="{{ path('_admin_available_exports')}}" class="btn btn-primary pull-right">Available Exports</a>
{% endif %}
{% endblock %}
{% block breadcrumb %}
<li>Export</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        {% if entities is defined %}
        {% for entity in entities %}

        <div class="col-sm-6 col-md-3">
            <div class="well">
                <h4>{{ entity|replace({'AppBundle\\Entity\\Pear': ''}) }}<span class="pull-right"><i class="fa fa-arrow-circle-o-down"></i></i></span></h4>

                <!-- Making div clickable -->
                {% if permissions['Admin\\ImportExport'] b-and 1  %}
                <a href="{{ path('_admin_doctrine_to_excel', {'entity': entity}) }}">
                    <span class="hyperspan"></span>
                </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}

